.redwine{
    width:100%;
	padding: 1.5rem 0 0 0;
	background: #fff;
	overflow: hidden;
}
.good_box_one1{
	font-size: 1.25rem;
	text-align: center;
	padding: 0 3rem 0 2.35rem;
	display: block;
}
.good_img{
	text-align: center;
}
.good_pic1{
	width: 8.8rem;
	height:8.8rem;
	margin-top: 3.025rem;
}
.good_text{
	margin-top: 2rem;
}
.good_text .good_p1{
	writing-mode:tb-rl;
	float: left;
	margin-left:9rem;
	font-size: 0.7rem;
	
}
.good_text .good_p2{
	writing-mode:tb-rl;
	padding-left:4.125rem;
	font-size: 0.875rem;
	
}
.clear1{
	clear: both;
	font-size: 1rem;
	padding-left: 0.6rem;
	
	padding-top: 2.875rem;
/*	line-height: 1.5rem;*/
	color: #444444;
}
.clear2{
	clear: both;
	font-size: 1rem;
	padding-left: 0.6rem;
	
	padding-top: 0.6rem;
/*	line-height: 1.5rem;*/
	color: #444444;
}
.redwine_my{
	padding: 0.35rem 1rem 0 0;
}
.redwine_my p{
	font-size: 0.7rem;
	padding-left: 0.6rem;
	padding-right: 0.6rem;
	color: #4c4c4c;
}
.good_jian1{
	line-height: 1.2rem;
	font-size: 0.75rem;
	padding-left: 0.5rem;
	padding-bottom:2.25rem;
	text-align: center;
}