.good_box {
	width: 100%;
	padding: 1.5rem 0 0 0;
	background: #fff;
	overflow: hidden;
}

.good_box_one {
	font-size: 1.25rem;
	text-align: center;
	padding: 0 1.3rem 0 1.3rem;
	display: block;
	line-height: 1.6rem;
}

.good_img {
	text-align: center;
}

.good_pic1 {
	width: 8.8rem;
	height: 8.8rem;
	margin-top: 3.025rem;
}

.good_text {
	margin-top: 2rem;
}

.good_text .good_p1 {
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	float: left;
	margin-left: 9rem;
	font-size: 0.7rem;
}

.good_text .good_p2 {
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	padding-left: 4.125rem;
	font-size: 0.875rem;
}

.clear {
	width: 12rem;
	clear: both;
	font-size: 1rem;
	padding-left: 1.5rem;
	padding-top: 2.875rem;
	line-height: 1.5rem;
	color: #444444;
}

.clear b {
	color: #000;
}

.good_line {
	padding: 0 0.6rem 0 0.6rem;
}

.good_line .good_center {
	width: 100%;
	height: 8rem;
	background: url(../../imgs/good/images/line_07.png) no-repeat center;
	background-size: 100%;
	font-size: 0.6rem;
}

.good_line .good_center p {
	padding: 1.5rem 1rem 0.3rem 0.8rem;
	color: #343434;
	font-size: 0.6rem;
}

.good_line3 .good_center {
	width: 100%;
	height: 8rem;
	background: url(../../imgs/good/images/line_07.png) no-repeat center;
	background-size: 100%;
	font-size: 0.6rem;
}

.good_line3 .good_center p {
	padding: 1.5rem 0.8rem 0.3rem 0.8rem;
	color: #343434;
	font-size: 0.6rem;
}

.good_yang {
	padding-left: 1rem;
	font-size: 0.6rem;
	color: #151515;
}

.good_yang b {
	color: #343434;
}

.good_tuone {
	padding-top: 1.2rem;
	padding-left: 0.65rem;
	float: left;
}

.good_tuone p {
	width: 7.625rem;
	float: right;
	font-size: 0.6rem;
	padding-top: 1.8rem;
	padding-left: 0.35rem;
}

.good_tuone .one1 {
	width: 9.5rem;
	height: 9rem;
}

.good_tutwo {
	padding-top: 1.2rem;
	padding-left: 0.65rem;
	float: left;
}

.good_tutwo p {
	width: 7.625rem;
	float: left;
	font-size: 0.6rem;
	padding-top: 1rem;
	padding-bottom: 2rem;
}

.good_tutwo .one1 {
	width: 9.5rem;
	height: 9rem;
	margin-right: 0.35rem;
}

.good_cai {
	color: #444444;
	font-size: 1rem;
	padding-left: 1.5rem;
	padding-right: 1.25rem;
	/*padding-top: 2.05rem;*/
}

.good_line1 {
	padding: 0.2rem 0.6rem 0 0.6rem;
}

.good_line1 .good_center {
	width: 100%;
	height: 8rem;
	background: url(../../imgs/good/images/line_07.png) no-repeat center;
	background-size: 100%;
	font-size: 0.6rem;
}

.good_line1 .good_center p {
	padding: 2.1rem 1rem 0.3rem 0.8rem;
	font-size: 0.65rem;
}

.good_new img {
	width: 17.575rem;
	margin-left: 0.6rem;
	margin-top: 0.5rem;
}

.good_new p {
	font-size: 0.6rem;
	padding-top: 0.6rem;
	padding-left: 0.8rem;
	padding-right: 1.225rem;
}

.good_new1 img {
	width: 17.575rem;
	margin-left: 0.6rem;
}

.good_new1 p {
	font-size: 0.6rem;
	padding-top: 0.6rem;
	padding-left: 0.8rem;
	padding-right: 1.225rem;
}

.good_small {
	padding-left: 1.475rem;
	padding-right: 0.6rem;
	font-size: 1rem;
	padding-top: 2rem;
	color: #444444;
}

.good_line2 {
	padding: 0.2rem 0.6rem 0 0.6rem;
}

.good_line2 .good_center {
	width: 100%;
	height: 8rem;
	background: url(../../imgs/good/images/line_07.png) no-repeat center;
	background-size: 100%;
	font-size: 0.6rem;
}

.good_line2 .good_center p {
	padding: 2rem 1rem 0.3rem 0.8rem;
}

.good_food1 .good_h2o {
	width: 17.65rem;
	height: 9.8rem;
	padding: 0.8rem 0.5rem 0.5rem 0.5rem;
}

.good_food1 .good_chu {
	text-align: center;
	font-size: 0.7rem;
}

.good_food1 .good_chu b {
	line-height: 1rem;
	font-size: 0.7rem;
	display: block;
}

.good_line3 {
	padding: 0.6rem 0.6rem 0.2rem 0.6rem;
}

.good_line3 .good_center {
	width: 100%;
	height: 9.5rem;
	background: url(../../imgs/good/images/line1_34.png) no-repeat center;
	background-size: 100%;
	font-size: 0.6rem;
}

.good_food2 .good_yong {
	width: 17.6rem;
	height: 19.275rem;
	margin: 0 0.5rem 0.5rem 0.5rem;
}

.good_food2 .good_chu {
	text-align: center;
	font-size: 0.7rem;
}

.good_food2 .good_chu b {
	line-height: 1rem;
	font-size: 0.7rem;
	display: block;
}

.good_food3 .good_yong1 {
	width: 17.6rem;
	height: 10.7rem;
	margin: 0.95rem 0.5rem 0 0.5rem;
}

.good_jian {
	line-height: 1.2rem;
	font-size: 0.6rem;
	padding-left: 0.5rem;
	padding-bottom: 2.25rem;
}

.maya {
	color: red;
}