.chart-wp {
    position: relative;
}
.chart-sel {
    height: 2rem;
    line-height: 2rem;
    padding: 0 0.6rem;
    color: #555555;
    font-size: 0.7rem;
    background-color: #F4F4F4;
}
.chart-search {
    float: right;
    width: 1.15rem;
    height: 1.15rem;
    background: url(../../imgs/chart-search.png) no-repeat;
    background-size: contain;
    margin-top: 0.5rem;
}
.line-chart-wp {
    width: 100%;
    height:9.5rem;
    border-bottom: 10px solid #F4F4F4;
    padding-bottom: 0.25rem;
}

.line-chart-wp2 {
    width: 100%;
    height:9.5rem;
}

#mainbottom {
    width: 100%;
    height: 18rem;
    margin-top: -2.5rem;
}

.chart-tip {
    position: absolute;
    top: 2.6rem;
    left: 0.6rem;
    color: #555;
    font-size: 0.7rem;
}
.cd-tip {
    color: #555;
    font-size: 0.7rem;
    padding: 0.6rem 0 0.6rem 0.6rem;
    border-bottom: 1px solid #ddd;
}
.chart-month {
    position: absolute;
    top: 2rem;
    right: 0.6rem;
    width: 4.5rem;
    height: 6.5rem;
    border-radius: 5px;
    background-color: rgba(255,255,255,255);
    padding: 0.25rem 0.25rem 0;
    overflow: scroll;
    display: none;
    z-index: 11;
}
.month-detail {
    height: 1.25rem;
    line-height: 1.25rem;
    border-top: 1px solid #ddd;
    color: #999;
    text-align: center;
    font-size: 0.6rem;
}
.month-detail:first-child {
    border-top: none;
}
#chart-portrait {
    width: 3rem;
    height: 3rem;
    margin-top: 0.5rem;
    border-radius: 50%;
}
#chart-nick-name {
    height: 2.4rem;
}
.record-detail {
    position: relative;
}
#chart-times {
    position: absolute;
    color: #f10215;
    font-size: 0.6rem;
    top: 40%;
    right: 0.6rem;
}

#record-list-item {
    height: 4rem;
    border-bottom: 1px solid #ddd;
    display: flex;
    margin-left: 0.6rem;
}
.chart-name {
    font-size: 0.8rem;
    color: #555;
    font-weight: bold;
    float: left;
    margin-top: 1.6rem;
    margin-left: 0.6rem;
}




