/*!*专题+店铺活动样式*!*/
/*.activity-store-name {*/
    /*height: 40px;*/
    /*background-color: #fff;*/
    /*border-bottom: 1px solid #ddd;*/
    /*color: #555;*/
    /*line-height: 40px;*/
    /*text-align: center;*/
    /*font-size: 17px;*/
/*}*/
/*.activity-store-item {*/
    /*border-bottom: 15px solid #f4f4f4;*/
/*}*/

/*.more {*/
    /*display: inline-block;*/
    /*width: 15px;*/
    /*height: 15px;*/
    /*background: url(../../imgs/store-arrow.png) no-repeat;*/
    /*background-size: cover;*/
    /*position: relative;*/
    /*top: 1px;*/
    /*margin-top: 10px;*/
    /*left: 3px;*/
/*}*/


/*!*专题+分会场活动样式*!*/
/*.position {*/
    /*position: absolute;*/
    /*bottom: 0;*/
/*}*/
/*.centre-section {*/
    /*border-bottom: 10px solid #f4f4f4;*/
/*}*/
/*.centre-section:last-child {*/
    /*border-bottom: none;*/
/*}*/
/*#nav-swiper-self {*/
    /*height: 40px;*/
    /*line-height: 40px;*/
    /*width: 550px;*/
    /*overflow-x: hidden;*/
    /*box-sizing: border-box;*/
    /*overflow-y: hidden;*/
    /*border-bottom: 1px solid #ddd;*/
    /*z-index: 999;*/
    /*background-color: #fff;*/
/*}*/
/*专题+店铺活动样式*/
.activity-store-name {
    height: 2rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    color: #555;
    line-height: 2rem;
    text-align: center;
    font-size: 0.85rem;
}
.activity-store-item {
    border-bottom: 15px solid #f4f4f4;
}

.more {
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    background: url(../../imgs/store-arrow.png) no-repeat;
    background-size: cover;
    position: relative;
    top: 0.05rem;
    margin-top: 0.5rem;
    left: 0.15rem;
}


/*专题+分会场活动样式*/
.position {
    position: absolute;
    bottom: 0;
}
.centre-section {
    border-bottom: 10px solid #f4f4f4;
}
.centre-section:last-child {
    border-bottom: none;
}
#nav-swiper-self {
    height: 2rem;
    line-height: 2rem;
    width: 27.5rem;
    overflow-x: hidden;
    box-sizing: border-box;
    overflow-y: hidden;
    border-bottom: 1px solid #ddd;
    z-index: 999;
    background-color: #fff;
}
