.track-header {
    border-bottom: 10px solid #f4f4f4;
    padding: 0.75rem 0.6rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    position: relative;
}

.track-portrait {
    width: 2.15rem;
    height: 2.15rem;
    border-radius: 50%;
    display: inline-block;
    background-color: red;
    margin-right: 0.6rem;
}
.track-company {
    width: 100%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.track-number {
    width: 100%;
    word-break: break-all;
    word-wrap: break-word;
}

.track-order {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    margin-top: 0.15rem;
    color: #555
;}
.track-copy-btn {
    width: 3.25rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    color: #555;
    font-size: 0.7rem;
    background-color: #ddd;
    border-radius: 15px;
    position: absolute;
    right: 0.6rem;
    bottom:1rem;
}

.track-detail {
    padding: 1rem 0.6rem 1rem 0.9rem;
    font-size: 0.7rem;

}
.track-detail-title {
    color: #555555;
    margin-bottom: 1rem;
}
.track-body > li {
    position: relative;
}
/*.track-body > li:last-child {*/
    /*border-left: none;*/
/*}*/
.track-end,.track-normal,.track-pay-success,.track-order-success,.track-send {
    padding-bottom: 1.5rem;
    border-left: 1px solid #ddd;
    position: relative;
}
.track-end {
    color: #49b31d;
}
.track-icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: -0.5rem;
    border-radius: 50%;
}
.track-end-icon {
    background: url("../../imgs/receive.png");
    background-size: cover;

}
.track-pay-icon {
    background: url("../../imgs/pay.png");
    background-size: cover;

}
.track-order-icon {
    background: url("../../imgs/submit.png");
    background-size: cover;
}
.track-send-icon {
    background: url("../../imgs/send.png");
    background-size: cover;
}
.track-text {
    display: block;
    margin-left: 1rem;
    color: #555;
    /*white-space:nowrap;*/
    /*overflow:hidden;*/
    /*text-overflow:ellipsis;*/
}
.track-time {
    display: block;
    margin-left: 1rem;
    line-height: 1.15rem;
    color: #999;
}
.track-normal-icon {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #DDDDDD;
    position: absolute;
    left: -0.3rem;
}
.track-first {
    color: red;
}
.track-normal:first-child > .track-text, .track-normal:first-child > .track-time{
    color: #49b31d;
}
.track-normal:first-child > .track-normal-icon {
    background: url("../../imgs/send.png") no-repeat;
    background-size: cover;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: -0.5rem;
    border-radius: 50%;
}












