
<div class="jewelry">
	<b class="good_box_one_jewelry">女人的一生如果只能拥有一件首饰那必定是珍珠</b>
	<div class="good_img">
		<img class="placeholder good_pic1" src="imgs/jewelry/images/jewelry1.jpg"/>
	</div>
	<div class="good_text">
		<p class="good_p1">优&nbsp;雅&nbsp;随&nbsp;心&nbsp;·&nbsp;大&nbsp;溪&nbsp;地&nbsp;黑&nbsp;珍&nbsp;珠&nbsp;吊&nbsp;坠</p>
		<p class="good_p2">追求高贵典雅的本性</p>
	</div>
	<div class="redwine_line clear1" style="display: flex;">
		<p style="width:0.6rem;height: 2.6rem;background: #151515;margin-right: 0.35rem;"></p>
		<b style="display: block;margin-right: 2rem;color: #151515;line-height: 1.2rem;">比起闪耀奢华的钻石<br />珍珠更能体现女人温婉出尘的气韵</b>
	</div>
	<div class="watch_my">
		<p>从古至今，高贵的女人总是与珍珠有着不解之缘。<br />伊丽莎白一世从项链到耳环再到服饰，甚至假发上都是珍珠；戴安娜王妃头顶珍珠泪王冠出现在世纪婚礼上的模样美得不可方物；时尚女王chanel也说过“连珍珠都没有的女人，不能算是完美”</p>
		<img src="imgs/jewelry/images/jewelry2.jpg" class="placeholder_big" style="height:10.825rem;margin-top: 0.825rem;"/>
		<img src="imgs/jewelry/images/jewelry3.jpg" style="height:19.475rem;margin-top: 0.35rem;"/>
	</div>
	<div class="watch_my">
		<p>国民女神林青霞也对珍珠情有独钟，每次出现都少不了珍珠相伴，而且收藏无数。</p>
		<b style="font-size: 0.65rem;padding-top:1.125rem;padding-left: 0.6rem;">她说过“戴珍珠让女人越来越有气质”</b>
		<img src="imgs/jewelry/images/jewelry4.jpg" class="placeholder_big" style="height: 28.85rem;margin-top: 0.825rem;"/>
	</div>
	<div class="redwine_line clear2" style="display: flex;">
		<p style="width:0.5rem;height: 2.6rem;background: #151515;margin-right: 0.35rem;"></p>
		<b style="display: block;color: #151515;line-height: 1.2rem;">世间珍珠无数<br />唯有大溪地黑珍珠最是稀有</b>
	</div>
	<div class="watch_my1">
		<p style="padding-top: 0.3rem;">大溪地黑珍珠一直有着珍贵的美誉，但很少人了解它贵在何处。让小玛哥用数字更直观的告诉你！全球<span style="color: #f50505;">95%</span>黑珍珠都来自大溪地黑蝶蚌，每年产出也不过数十斤。黑珍珠在黑蝶蚌的母贝里养殖，<span style="color: #f50505;">1个母贝4年才能孕育1颗珍珠,</span>它们对生长环境、温度等各种外部因素有着极其严格的要求。所以，稍有不慎，就会死亡，珍贵异常。现在<span style="color: #f50505;">每100颗里只有5颗是正圆</span>，黑亮，无暇，有浓郁金属光泽的，若能遇到一颗，定当是满载运气与福泽。</p>
	</div>
	<img src="imgs/jewelry/images/jewelry5.jpg" placeholder_big" style="height:10.55rem;margin-top: 0.825rem;"/>
	<img src="imgs/jewelry/images/jewelry6.jpg" style="height:11.325rem;margin-top: 0.35rem;"/>
	<div class="redwine_line clear2" style="display: flex;">
		<p style="width:0.5rem;height: 2.6rem;background: #151515;margin-right: 0.35rem;"></p>
		<b style="display: block;color: #151515;line-height: 1.2rem;">PearlQueen只选5%的稀世珍宝<br />值得拥有更值得收藏</b>
	</div>
	<div class="watch_my1">
		<p style="padding-top: 0.3rem;">PearlQueen是中国高端珍珠品牌，极简的设计，迷人而不张扬。项链和耳环都是采用大溪地直供的优质黑珍珠，珠面如镜，不仅让每一位佩戴的女性都与高雅诗意相融相随，更是难得的收藏好物，随着时光的沉淀，愈发精致不凡。无论何时戴上它你就是人群中的焦点。</p>
		<img src="imgs/jewelry/images/jewelry7.png" placeholder_big" style="height:19rem;margin-top: 0.825rem;"/>
	</div>
	<div class="redwine_line clear2" style="display: flex;">
		<p style="width:0.5rem;height: 2.6rem;background: #151515;margin-right: 0.35rem;"></p>
		<b style="display: block;color: #151515;line-height: 1.2rem;">感恩节送家人一份爱的守护<br />送自己一份优雅的情怀</b>
	</div>
	<div class="watch_my">
		<p>大溪地黑珍珠在母贝中孕育的艰难，如同母亲十月怀胎的辛苦，正值感恩节，不妨送给妈妈一个爱的回馈。<br />用黑珍珠告白，尽管岁月变迁，爱始终不变，给爱人最坚定的守护。当然，别忘了自己，无论18岁还是78岁，<br />都值得拥有一个光彩照人的首饰。</p>
	</div>
	<div class="watch_my1">
		<img src="https://shengchan-images.oss-cn-beijing.aliyuncs.com/uploads/product/2017/0911/a6/9f/a69fa35fe4aac6b5239468bd62ffe29c.jpg" class="placeholder_big" style="margin-top: 0.825rem;height: 20rem;" ng-click="toDetailPage('080801000069','1000000928')"/>	
	</div>
	<div class="good_jian1_watch">
		<b>产品名称:</b>
		<b class="good_pin" style="display: block;">PearlQueen珍珠皇后 大溪地黑珍珠吊坠8-9mm</b>
		<b class="maya">市场价：2900/ 玛雅价520</b>
	</div>
	<div class="watch_my1">
		<img src="https://shengchan-images.oss-cn-beijing.aliyuncs.com/uploads/product/2017/0911/6e/cb/6ecb9903049a19ba83e27732c4608bab.jpg" class="placeholder_big" style="margin-top: 0.825rem;height: 19rem;" ng-click="toDetailPage('080801000072','1000000937')"/>	
	</div>
	<div class="good_jian1_jewelry">
		<b>产品名称:</b>
		<b class="good_pin" style="display: block;">PearlQueen珍珠皇后 大溪地黑珍珠活口戒指9-10mm</b>
		<b class="maya">市场价：3300/ 玛雅价599</b>
	</div>
	<div class="watch_my1">
		<img src="https://shengchan-images.oss-cn-beijing.aliyuncs.com/uploads/product/2017/0909/ea/04/ea04af05330c3eb88a1bcfe9ac7548e7.jpg" class="placeholder_big" style="margin-top: 0.825rem;height: 19rem;" ng-click="toDetailPage('080801000021','1000000588')"/>	
	</div>
	<div class="good_jian1_watch" style="padding-bottom: 1.2rem;">
		<b>产品名称:</b>
		<b class="good_pin" style="display: block;">PearlQueen珍珠皇后 四叶草 9mm珍珠纯银耳钉</b>
		<b class="maya">市场价：990/ 玛雅价178</b>
	</div>
</div>
<div class="floor_box">
	<p style="background: #fff;border-top:1px solid #eee;text-align: center;font-size: 0.6rem;height:2rem;line-height:2rem;">更多推荐</p>
	<!--分会场-->
	<div class="floor_list" ng-repeat="box in floor_detail track by $index">
		<p class="detail_title" ng-bind="box.title" ng-if="box.title"></p>
		<div class="pros_list_box">
			<div class="pro_box detail_pro_box" ng-repeat="product in box.data track by $index" ng-click="toDetailPage(product.productId,product.productLable)">
				<div class="pro_img_box">
					<img class="placeholder" ng-src="{{product.pictureAddr}}"/>
					<text class="list_activity_logo">直降</text>
				</div>
				<p class="pro_title ellipsis" ng-bind="product.productTitle"></p>
				<p class="pro_title ellipsis pro_infos" ng-bind="product.productName"></p>
				<div class="pro_price" >
					<span class="ellipsis" ng-bind="product.activityPrice?'¥'+product.activityPrice:'¥'+product.salePrice"></span>
					<span class="price_mini ellipsis" ng-if="product.activityPrice" ng-bind="'¥'+product.salePrice"></span>
				</div>
			</div>
		</div>
	</div>
</div>
<!--分享按钮-->
<img class="share_button" ng-if="isShowShar" src="imgs/activity_floor/share_button.png" ng-click="click_share()"/>
<!--微信中提示浏览器打开-->
<div is_show_weixin></div>
<!--pop提示-->
<toast_long></toast_long>