<div class="activity-wrap" ng-show="data.isShowPage == 1">
    <div class="activity-ad">
        <img src="{{data.adPictureUrl}}"> <!--onerror="this.src ='imgs/banner_ad.png'"-->
    </div>

    <div class="tab-body">
        <div class="centre-section" ng-repeat="item in data.navData">
            <div class="activity-store-name" ng-click="page.toStorePage(item.shopId)">
                <span>{{item.name}}</span><i class="more"></i>
            </div>
            <div class="activity-scroll-wrap">
                <div scroll_store_tpl></div>
            </div>
        </div>
    </div>
</div>

<div error_page_tpl></div>





















