<div class="activity-wrap" ng-show="data.isShowPage == 1">
    <div class="activity-ad">
        <img src="{{data.adPictureUrl}}">    <!--imgs/banner_ad.png-->
    </div>

    <div class="swiper-container activity-nav-swiper" ng-class="{fixed: data.isfixed }">
        <div class="swiper-wrapper">
            <div class="swiper-slide nav-class" ng-repeat="item in data.navData" data-id={{$index}}">
                <a href="javascript:void(0);" ng-click="page.setCurrent($index)">{{item.name}}
                <i class="scroll position" ng-if="data.current == $index"></i></a>
            </div>
        </div>
    </div>

    <div class="tab-body content" ng-class="{mt40: data.isfixed }">
        <div class="centre-section" ng-repeat="item in data.navData" id="{{$index}}">
            <div class="activity-store-name" ng-click="page.toActivityProductPage(item.channelId, item.specialId)">
                <span>{{item.name}}</span><i class="more"></i>
            </div>
            <div class="activity-scroll-wrap">
                <div scroll_product_tpl> </div>
            </div>
        </div>
    </div>
</div>
<div error_page_tpl></div>








