<div class="floor_box">
	<!--顶部banner-->
	<img src="imgs/activity_food/food_banner.jpg" class="top_banner placeholder" style="min-height: 9.4rem;height: initial;"/>
</div>

<!------------------------------->
<div class="food_list" style="background-color:#e8f5dc;margin-top:0.5rem; background-image: url(imgs/activity_food/food-bg1.jpg)">
	<!--每行三个的-->
	<div class="floor_pro_box" id="product_list_x">
		<div class="pro_content_box floor_list_11">
			<div class="pro_box food-bg" ng-click="toDetailPage(product.productId,product.productLable)" ng-repeat="product in lists track by $index" ng-if="$index != 9">
				<div class="pro_img">
					<img class="placeholder_big" ng-src="{{product.pictureAddr}}"/>
					<!--<text class="list_activity_logo">直降</text>-->
				</div>
				<p class="pro_title out_hidden2" ng-bind="product.productTitle"></p>
				<div class="pro_price" >
					<span class="ellipsis" ng-bind="product.activityPrice?'¥'+product.activityPrice:'¥'+product.salePrice"></span>
					<span class="price_mini ellipsis" ng-if="product.activityPrice" ng-bind="'¥'+product.salePrice"></span>
				</div>
				<img class="food-btn" src="imgs/activity_food/food-btn.jpg">
			</div>
		</div>
	</div>
	<!--单个横向-->
	<div class="double_yun" ng-if="lists.length == 10" ng-click="toDetailPage(lists_x.productId,lists_x.productLable)">
		<div class="double_yun_center">
			<div class="double_left">
				<img ng-src="{{lists_x.pictureAddr}}" class="pics placeholder" />
			</div>
			<div class="double_right">
				<div class="title" style="font-size:0.575rem">
					<p class="out_hidden2" ng-bind="lists_x.productTitle"></p>
					<p class="food_textname" ng-bind="lists_x.productName"></p>
					<div class="pro_price" style="overflow: hidden;">
						<span class="big-price" ng-bind="lists_x.activityPrice?'¥'+lists_x.activityPrice:'¥'+lists_x.salePrice"></span>
						<span class="price_mini ellipsis top" ng-if="lists_x.activityPrice" ng-bind="'¥'+lists_x.salePrice"></span>
						<img class="food-btn" src="imgs/activity_food/food-btn.jpg" style="margin: 0;float: right;">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="food_list" style="background-image: url(imgs/activity_food/food-bg2.jpg)">
	<!--每行三个的-->
	<div class="floor_pro_box" id="product_list_x">
		<div class="pro_content_box floor_list_11">
			<div class="pro_box food-bg" ng-click="toDetailPage(product.productId,product.productLable)" ng-repeat="product in lists1 track by $index" ng-if="$index != 9">
				<div class="pro_img">
					<img class="placeholder_big" ng-src="{{product.pictureAddr}}"/>
					<!--<text class="list_activity_logo">直降</text>-->
				</div>
				<p class="pro_title out_hidden2" ng-bind="product.productTitle"></p>
				<div class="pro_price" >
					<span class="ellipsis" ng-bind="product.activityPrice?'¥'+product.activityPrice:'¥'+product.salePrice"></span>
					<span class="price_mini ellipsis" ng-if="product.activityPrice" ng-bind="'¥'+product.salePrice"></span>
				</div>
				<img class="food-btn" src="imgs/activity_food/food-btn.jpg">
			</div>
		</div>
	</div>
	<!--单个横向-->
	<div class="double_yun" ng-if="lists.length == 10" ng-click="toDetailPage(lists_x.productId,lists_x.productLable)">
		<div class="double_yun_center">
			<div class="double_left">
				<img ng-src="{{lists_x1.pictureAddr}}" class="pics placeholder" />
			</div>
			<div class="double_right">
				<div class="title" style="font-size:0.575rem">
					<p class="out_hidden2" ng-bind="lists_x1.productTitle"></p>
					<p class="food_textname" ng-bind="lists_x1.productName"></p>
					<div class="pro_price" style="overflow: hidden;">
						<span class="big-price" ng-bind="lists_x1.activityPrice?'¥'+lists_x1.activityPrice:'¥'+lists_x1.salePrice"></span>
						<span class="price_mini ellipsis top" ng-if="lists_x1.activityPrice" ng-bind="'¥'+lists_x1.salePrice"></span>
						<img class="food-btn" src="imgs/activity_food/food-btn.jpg" style="margin: 0;float: right;">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="food_list" style="background-color:#e8f5dc;background-image: url(imgs/activity_food/food-bg3.jpg)"">
	<!--每行三个的-->
	<div class="floor_pro_box" id="product_list_x">
		<div class="pro_content_box floor_list_11">
			<div class="pro_box food-bg" ng-click="toDetailPage(product.productId,product.productLable)" ng-repeat="product in lists2 track by $index" ng-if="$index != 9">
				<div class="pro_img">
					<img class="placeholder_big" ng-src="{{product.pictureAddr}}"/>
					<!--<text class="list_activity_logo">直降</text>-->
				</div>
				<p class="pro_title out_hidden2" ng-bind="product.productTitle"></p>
				<div class="pro_price" >
					<span class="ellipsis" ng-bind="product.activityPrice?'¥'+product.activityPrice:'¥'+product.salePrice"></span>
					<span class="price_mini ellipsis" ng-if="product.activityPrice" ng-bind="'¥'+product.salePrice"></span>
				</div>
				<img class="food-btn" src="imgs/activity_food/food-btn.jpg">
			</div>
		</div>
	</div>
	<!--单个横向-->
	<div class="double_yun" ng-if="lists.length == 10" ng-click="toDetailPage(lists_x.productId,lists_x.productLable)">
		<div class="double_yun_center">
			<div class="double_left">
				<img ng-src="{{lists_x2.pictureAddr}}" class="pics placeholder" />
			</div>
			<div class="double_right">
				<div class="title" style="font-size:0.575rem">
					<p class="out_hidden2" ng-bind="lists_x2.productTitle"></p>
					<p class="food_textname" ng-bind="lists_x2.productName"></p>
					<div class="pro_price" style="overflow: hidden;">
						<span class="big-price" ng-bind="lists_x2.activityPrice?'¥'+lists_x2.activityPrice:'¥'+lists_x2.salePrice"></span>
						<span class="price_mini ellipsis top" ng-if="lists_x2.activityPrice" ng-bind="'¥'+lists_x2.salePrice"></span>
						<img class="food-btn" src="imgs/activity_food/food-btn.jpg" style="margin: 0;float: right;">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div style=" margin-bottom:0.5rem; margin-top: 0.5rem;" ng-click="goNext('activity_floor')">
	<img src="imgs/activity_food/food-banner1.jpg" class="top_banner placeholder" style="min-height:7.5rem;height: initial;"/>
</div>

<div style=" margin-bottom:0.5rem;" ng-click="goNext('activity_floor')">
	<img src="imgs/activity_food/food-banner2.jpg" class="top_banner placeholder" style="min-height:7.5rem;height: initial;"/>
</div>

<div style=" margin-bottom:0.5rem;" ng-click="goNext('activity_floor')">
	<img src="imgs/activity_food/food-banner3.jpg" class="top_banner placeholder" style="min-height:7.5rem;height: initial;"/>
</div>

<style>
	.food_list {
		width: 100%;
		overflow: hidden;
		background-repeat: no-repeat;
		background-size: 100%;
		padding-top: 3.1rem;
		padding-bottom: 0.5rem;
	}
	.food-bg{background: #fff;}
	#product_list_x{padding: 0 0.6rem;}
	#product_list_x .pro_box {
		width: 31.2%;
		margin-right:3%;}
	.pro_box>p{overflow:hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp:1;
		-webkit-box-orient: vertical;
		margin: 0.2rem auto;
		margin-bottom: 0;
		width:80%;
		font-size: 0.6rem;
		height: 1rem;
	}
	.pro_box .pro_price {
		margin-top:0;
		overflow: hidden;
		line-height: 0.7rem;
		height: 0.7rem;
		text-align: center;
	}
	.pro_price span,.pro_price span.price_mini{
		float: none;
		text-align: center;
		margin-left: auto;
		font-size: 0.6rem;
		line-height: 0.8rem;
	}
	.food-btn{
		width: 3.2rem;
		margin:0.3rem auto 0.4rem auto;
		display: block;
	}
	.double_yun{
		width: 100%;
		padding: 0 0.6rem;
		box-sizing: border-box;
	}
	.double_yun_center{
		background: #fff;
		padding:0;height:6rem;
	}
	.double_left{
		float: left;
		overflow: hidden;
		width: 6rem;
		height:6rem;}
	.double_right{
		width: 9.5rem;
		line-height: 0.9rem;
		margin-right: 0.75rem;
	}
	.food_textname{
		font-size: 0.55rem;
		margin-top: 0.25rem;
		width:88%;
		color: #999;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp:1;
		-webkit-box-orient: vertical;
		overflow: hidden;
		word-break: break-all;
	}
	.out_hidden2 {
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp:2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		word-break: break-all;
		width:88%;
		font-size: 0.65rem;
	}

</style>