<div class="good_box">
	<b class="good_box_one">自来水变纯净水的方法有N种最有效的却是它</b>
	<div class="good_img">
		<img class="placeholder good_pic1" src="imgs/good/images/warter.png"/>
	</div>
	<div class="good_text">
		<p class="good_p1">就&nbsp;要&nbsp;喝&nbsp;干&nbsp;净&nbsp;的&nbsp;水
		<p class="good_p2">喝水</p>
	</div>
	<p class="clear">能<b>够</b>轻易地喝到干净的<b>水</b>，其实是<b>奢侈</b>件的<b>事</b>。</p>
	<div class="good_line">
		<div class="good_center">
			<p>因为地球上97%的水都是不适合人类饮用的海水，而仅有的淡水中又含有很多的泥沙、悬浮物和微生物，需要处理之后才可以放心饮用。所以自古以来人们为获得清洁的水想尽了各种各样的办法。将水中的微生物杀死，最简单粗暴的办法就是将水烧开，这也是中国人最常使用的办法。</p>
		</div>
	</div>
	<p class="good_yang"><b>《养生要集》</b>里总结说——凡煮水饮之，众病无缘得生也。</p>
	<div class="good_tuone">
		<img src="imgs/good/images/pic_1_10.png" class="placeholder_big one1"/>
		<p>* 可事实上即便是自家烧开的热水也有无法祛除的超标重金属和水垢;<br /><br />* 煮沸5分钟后为原水的10倍，煮沸20分钟，则增加到近百倍;<img src="imgs/good/images/好物_13.png" style="float: right;padding-right: 0.6rem;margin-top:2rem;width:1.25rem;height:0.175rem;"/></p>
		
	</div>
	<div class="good_tutwo">
		<p>* 而标榜纯净的桶装水也未必可靠，一些个别厂家会用纱布在自来水上，直接将水灌入桶中;<br /><br />* 更可怕的是有些水桶是用废弃的输液瓶、碟片和回收的就塑料做原料。<img src="imgs/good/images/好物_13.png" style="width:1.25rem;height:0.175rem;float: right;padding-right: 0.6rem;margin-top:1.6rem;"/></p>
		<img src="imgs/good/images/pic_2_14.png" class="placeholder_big one1"/>
	</div>
	<p class="good_cai">究竟怎么才能<b>最快捷地</b>喝到<b>纯净水</b>？<b>小玛哥</b>有话说:<img src="imgs/good/images/start_17.png" style="width: 0.75rem;height: 0.75rem;margin-top: 0.4rem;"/></p>
	<div class="good_line1">
		<div class="good_center">
			<p>也许你还不敢相信，目前最先进的技术已经能把废水过滤成可以饮用水的纯净水。<br />之前就有一篇报道说：比尔·盖茨在用过滤技术喝粪水...</p>
		</div>
	</div>
	<div class="good_new">
		<img src="imgs/good/images/big_pic1_23.png" class="placeholder"/>
		<p><b>上图中英文为 : </b>这杯水是五分钟前人类刚刚造出来的"新鲜货"(注意,盖茨大爷的表情,内心戏是"兄弟,你确信你刚刚喝过,没问题吧？")<br>后来盖茨还特为此上电视做节目，和脱口秀主持人在一起现场喝过滤后的水。</p>
	</div>
	<div class="good_new1" style="padding-top: 0.875rem;">
		<img src="imgs/good/images/big_pic2_28.png" class="placeholder"/>
		<p>主持人喝得也是一脸享受，最后盖茨大爷揭开谜底 : 水的原料是2小时前人类的新鲜粑粑！结果，毫无心理准备的主持人就喷了... ...</p>
	</div>
	<div class="good_new1" style="padding-top: 0.875rem;">
		<img src="imgs/good/images/6.gif" class="placeholder"/>
	</div>
	<p class="good_small">今天<b>小玛哥</b>为大家推荐的这款<b>黑科技过滤水壶，</b><br /><b>完全</b>不弱于<b>盖茨体验</b>的这项技术。</p>
	<div class="good_line2">
		<div class="good_center">
			<p>它的产品滤芯是目前世界上最为先进的流体过滤材料之一，之前被美国空总署用于宇航员太空生活，这款材料还因为可以大小便过滤成水而出名。</p>
		</div>
	</div>
	<div class="good_food1">
		<img src="imgs/good/images/good_pic1_32.png" alt="" class="good_h2o" class="placeholder"/>
		<div class="good_chu">
			<b>去除99.95%的病毒和99.999%的细菌</b>
			<b>去除铅铁锡铬铝铜镍重金属</b>
			<b>去除泥沙杂质</b>
			<b>去除多醣体，胶质体</b>
			<b>消除99.9%馕包虫</b>
		</div>
	</div>
	
	<div class="good_line3">
		<div class="good_center">
			<p>众所周知中国水质污染很严重,自来水的余氯不再是我们关注的核心,去除水中病原体,农药医学等化学残留才是我们关注的重点。或许有些人会觉得这人活的咋这么矫情呢！你看我们喝自来水喝了这么多年了，
还不是一个个身强力壮！先别这么早下结论呢，<b>多达50%的水源性胃肠道疾病都是由病毒引起的。</b>为了家人的健康，我们需要提升生活中饮用水的质量。<b>Clear2O全球首创膜过滤滤水壶洁净毋庸置疑！</b></p>
		</div>
	</div>
	<div class="good_food2">
		<img src="imgs/good/images/good_pic2_34.png" alt="" class="placeholder good_yong" />
		<div class="good_chu">
			
			<b>自从有了Clear2O滤水壶，</b>
			<b>老爸的茶香更浓郁，</b>
			<b>老妈的靓汤味更鲜，</b>
			<b>宝宝的奶粉也冲得更放心。</b>
			
		</div>
	</div>
	<div class="good_food3">
		<img src="imgs/good/images/good_pic3_36.png" alt="" class="placeholder good_yong1"  ng-click="toDetailPage('0404011000070','1000028133')"/>
	</div>
	<div class="good_jian">
		<b>产品名称:</b>
		<p class="good_pin">美国进口Clear2O可滤美直饮过滤水壶 自来水净器系列2.5L</p>
		<b class="maya">玛雅价:199元</b>
	</div>
	<div class="floor_box">
	<p style="background: #fff;border-top:1px solid #eee;text-align: center;font-size: 0.6rem;height:2rem;line-height:2rem;">更多推荐</p>
	<!--分会场-->
	<div class="floor_list" ng-repeat="box in floor_detail track by $index">
		<p class="detail_title" ng-bind="box.title" ng-if="box.title"></p>
		<div class="pros_list_box">
			<div class="pro_box detail_pro_box" ng-repeat="product in box.data track by $index" ng-click="toDetailPage(product.productId,product.productLable)">
				<div class="pro_img_box">
					<img class="placeholder" ng-src="{{product.pictureAddr}}"/>
					<text class="list_activity_logo">直降</text>
				</div>
				<p class="pro_title ellipsis" ng-bind="product.productTitle"></p>
				<p class="pro_title ellipsis pro_infos" ng-bind="product.productName"></p>
				<div class="pro_price" >
					<span class="ellipsis" ng-bind="product.activityPrice?'¥'+product.activityPrice:'¥'+product.salePrice"></span>
					<span class="price_mini ellipsis" ng-if="product.activityPrice" ng-bind="'¥'+product.salePrice"></span>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<!--分享按钮-->
<img class="share_button" ng-if="isShowShar" src="imgs/activity_floor/share_button.png" ng-click="click_share()"/>
<!--微信中提示浏览器打开-->
<div is_show_weixin></div>
<!--pop提示-->
<toast_long></toast_long>
