<div class="activity-wrap" ng-show="data.isShowPage == 1">
    <div class="activity-ad">
        <img src="{{data.adPictureUrl}}"> <!--onerror="this.src ='imgs/banner_ad.png'"-->
    </div>

    <div class="swiper-container activity-nav-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide activity-nav-slide" ng-repeat="item in data.productCollectData" ng-click="page.setCurrent($index)">
                {{item.specialTypeName}}<i class="scroll position" ng-if="data.current == $index"></i>
            </div>
        </div>
    </div>

    <div class="tab-body"> <!--ng-if="data.current == $index"-->
        <div collect_product_tpl class="content"></div>
    </div>

    <div toast_tpl></div>
</div>

<div error_page_tpl></div>
















