<div class="wristwatch">
	<b class="good_box_one_watch">明星人手一只的腕表<br />不花大钱也能拥有超凡气质</b>
	<div class="good_img">
		<img class="placeholder good_pic1" src="imgs/watch/images/watch_yuan_03.jpg"/>
	</div>
	<div class="good_text">
		<p class="good_p1">不&nbsp;是&nbsp;所&nbsp;有&nbsp;的  贵  都&nbsp;是&nbsp;好&nbsp;<br />品&nbsp;味&nbsp;重&nbsp;在&nbsp;独&nbsp;特&nbsp;</p>
		<p class="good_p2">时间</p>
	</div>
	<div class="redwine_line clear1" style="display: flex;">
		<p style="width:0.8rem;height: 2.6rem;background: #151515;margin-right: 0.35rem;"></p>
		<b style="display: block;margin-right: 4.4rem;color: #151515;line-height: 1.2rem;">腕表最大的意义并非看时间好看显品味才最重要</b>
	</div>
	<div class="watch_my">
		<p>在没有手机电脑的时代，人们随身戴着手表看时间；后来富豪们开始追求用表来定义身份，动辄几十万。在智能化的今天 ， 越 来越多的人已经不打算把一辆车的钱戴在手上  。  正如一大波明星们已经集体种草独特设计的时装腕表，而且它们不需要花大价钱，普通人都买得起。</p>
		<b style="font-size: 0.65rem;padding-top:1.125rem;padding-left: 0.6rem;">它是一只代表着“飞翔”的腕表</b>
		<img src="imgs/watch/images/watch_1.jpg" class="placeholder_big" style="height: 15.3rem;margin-top: 0.825rem;"/>
	</div>
	<div class="watch_my">
		<p>中国人很喜欢把美好和希望寄托在某一个物品上，klasse<br />14 的 Volare 系列腕表正合口味   。它的表盘采用下沉设计，看上去犹如罗马斗兽场一样恢宏，表上的指针略微向上微弯，像雄鹰在空中翱翔的翅膀。</p>
		<img src="imgs/watch/images/watch_2.jpg" class="placeholder_big" style="height: 26.75rem;margin-top: 0.825rem;"/>
	</div>
	<div class="watch_my">
		<p>设计师把它命名为"飞"象征着自由和梦幻的力量，klasse<br />14品牌几乎所有系列腕表的设计都源自 volare 。也许这就是为什么只用了3年的时间，它便风靡全球的原因之一</p>
		<b style="font-size: 0.65rem;padding-top:1.125rem;padding-left: 0.6rem;">因为每个人都不会拒绝对成功的向往。</b>
	</div>
	<div class="redwine_line clear2" style="display: flex;">
		<p style="width:0.5rem;height: 2.6rem;background: #151515;margin-right: 0.35rem;"></p>
		<b style="display: block;color: #151515;line-height: 1.2rem;">不要千篇一律和墨守成规<br />每只Klasse14都拥有不凡魅力</b>
	</div>
	<div class="watch_my">
		<p>在中国市场 Klasse14 受到了众多明星的宠爱 ，有年轻的流量小花和小生，也有成熟稳重的当红大咖。不管是走什么路线，都能找到适合自己那一款！</p>
		<img src="imgs/watch/images/watch_3.jpg" class="placeholder_big" style="height: 18.875rem;margin-top: 0.825rem;"/>
	</div>
	<div class="watch_my">
		<b style="font-size: 0.65rem;padding-top:1.125rem;padding-left: 0.6rem;">新晋实力派小生秦俊杰同款Volare Dark Rose系列</b>
		<p style="padding-top: 0.3rem;">Volare  Dark  Rose   腕表分为玫瑰金链带及真皮表带两款，同时还具有42mm和36mm两种尺寸，以此满足不同的穿搭佩戴需求，<b>是成功人士出席商务场合的低调选择。</b></p>
	</div>
	<div class="watch_my1">
		<img src="https://shengchan-images.oss-cn-beijing.aliyuncs.com/uploads/product/2017/0912/7c/e3/7ce31492df2fb5e2c28cb3691af32044_small.jpg" class="placeholder_big" style="margin-top: 0.825rem;height: 16.375rem;" ng-click="toDetailPage('080802000618','1000002067')"/>	
	</div>
	<div class="good_jian1_watch">
		<b>产品名称:</b>
		<b class="good_pin" style="display: block;">KLASSE14意大利时尚石英手表V016FG006M</b>
		<b class="maya">玛雅价:1599元</b>
	</div>
	<div class="watch_my">
		<img src="imgs/watch/images/watch_4.jpg" class="placeholder_big" style="margin-top: 0.825rem;height: 18.7rem;" />	
	</div>
	<div class="watch_my">
		<b style="font-size: 0.65rem;padding-top:1.125rem;padding-left: 0.6rem;">知名演员娄艺潇同款IMPERFECT系列</b>
		<p style="padding-top: 0.3rem;">全新IMPERFECT系列腕表利用镂空，不对称，矩形等相对“不完美”的设计元素，呈现出装饰的艺术，<b>是现代独立的职场女性们非常喜欢的个性化设计，彰显自我。</b></p>
	</div>
	<div class="watch_my">
		<img src="https://shengchan-images.oss-cn-beijing.aliyuncs.com/uploads/product/2017/0912/ef/1c/ef1c4c96cce8f7d9f5d45803cdb5ab33_small.jpg" class="placeholder_big" style="margin-top: 0.825rem;height: 16.375rem;" ng-click="toDetailPage('080802000614','1000002009')"/>	
	</div>
	<div class="good_jian1_watch">
		<b>产品名称:</b>
		<b class="good_pin" style="display: block;">KLASSE14意大利简约镂空时尚石英腕表IM15SR004M</b>
		<b class="maya">玛雅价:1449元</b>
	</div>
	<div class="watch_my">
		<img src="imgs/watch/images/watch_5.jpg" class="placeholder_big" style="margin-top: 0.825rem;height: 18.9rem;" />	
	</div>
	<div class="watch_my1">
		<b style="font-size: 0.65rem;padding-top:1.125rem;padding-left: 0.6rem;">明星夫妻包贝尔 包文婧同款 Volare Rainbow Black系列</b>
		<p style="padding-top: 0.3rem;">Volare   Rainbow   Black采用了316L拉丝精钢彩虹表壳，跳跃的颜色设计，随时随地的吸睛利器。在年底的聚会也是闪耀的焦点。<b>情侣款是恋人“表”白的最佳选择。</b></p>
	</div>
	<div class="watch_my">
		<img src="https://shengchan-images.oss-cn-beijing.aliyuncs.com/uploads/product/2017/0913/52/43/52437369a304a49f18072d17b1e5492e_small.jpg" class="placeholder_big" style="margin-top: 0.825rem;height: 19.375rem;" ng-click="toDetailPage('080802000719','1000003209')"/>	
	</div>
	<div class="good_jian1_watch">
		<b>产品名称:</b>
		<b class="good_pin" style="display: block;">KLASSE14意大利时尚情侣对表VO15TI001MW</b>
		<b class="maya">玛雅价:2999元</b>
	</div>
	<div class="watch_jixi">
		<b style="font-size: 0.65rem;">*惊喜福利*</b>
		<p style="font-size: 0.7rem;">所有购买Klasse14腕表的顾客，均可获得官方配送的手环配饰。</p>
		<img src="imgs/watch/images/表_19.png"  class="placeholder_big" style="height: 9.5rem;"/>
	</div>
		<div class="floor_box">
	<p style="background: #fff;border-top:1px solid #eee;text-align: center;font-size: 0.6rem;height:2rem;line-height:2rem;">更多推荐</p>
	<!--分会场-->
	<div class="floor_list" ng-repeat="box in floor_detail track by $index">
		<p class="detail_title" ng-bind="box.title" ng-if="box.title"></p>
		<div class="pros_list_box">
			<div class="pro_box detail_pro_box" ng-repeat="product in box.data track by $index" ng-click="toDetailPage(product.productId,product.productLable)">
				<div class="pro_img_box">
					<img class="placeholder" ng-src="{{product.pictureAddr}}"/>
					<text class="list_activity_logo">直降</text>
				</div>
				<p class="pro_title ellipsis" ng-bind="product.productTitle"></p>
				<p class="pro_title ellipsis pro_infos" ng-bind="product.productName"></p>
				<div class="pro_price" >
					<span class="ellipsis" ng-bind="product.activityPrice?'¥'+product.activityPrice:'¥'+product.salePrice"></span>
					<span class="price_mini ellipsis" ng-if="product.activityPrice" ng-bind="'¥'+product.salePrice"></span>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<!--分享按钮-->
<img class="share_button" ng-if="isShowShar" src="imgs/activity_floor/share_button.png" ng-click="click_share()"/>
<!--微信中提示浏览器打开-->
<div is_show_weixin></div>
<!--pop提示-->
<toast_long></toast_long>
