<div class="tea">
	<b class="good_box_one_jewelry">一杯枸杞菊花茶赶走亚健康送给长看手机的你</b>
	<div class="good_img">
		<img class="placeholder good_pic1" src="imgs/tea/images/tea_banner.jpg"/>
	</div>
	<div class="good_text">
		<p class="good_p1">拂去一身的疲惫<br />饮下去茶汤沁人心田</p>
		<p class="good_p2">有内涵的茶</p>
	</div>
	<div class="redwine_line clear1" style="display: flex;">
		<p style="width:0.6rem;height: 2.6rem;background: #151515;margin-right: 0.35rem;"></p>
		<b style="display: block;margin-right: 2rem;color: #151515;line-height: 1.2rem;">枸杞配一宝，好的不得了<br />这一“宝”指的就是菊花！</b>
	</div>
	<div class="watch_my">
		<p>枸杞和菊花可以泡在一起吗？初次接触的朋友肯定会有疑问，这两个配到一起喝会有副作用吗？那么小编今天就带你来细品一下枸杞菊花茶的精髓所在！</p>
		<img src="imgs/tea/images/tea_text1.jpg" class="placeholder_big" style="height:16.9rem;margin-top: 0.825rem;"/>
	</div>
	<div class="redwine_line clear2" style="display: flex;">
		<p style="width:0.5rem;height: 2.6rem;background: #151515;margin-right: 0.35rem;"></p>
		<b style="display: block;color: #151515;line-height: 1.2rem;">菊花虽甘苦<br />可缓解眼疲劳少不了它</b>
	</div>
	<div class="watch_my1">
		<p style="padding-top: 0.3rem;">菊花被誉为花中仙子，是我国十大名花之一。本身味道甘苦，性微，但可以降脂降压，润肠排毒，缓解眼睛干涩。尤其对上班族是再好不过的佳品。</p>
		<b style="font-size: 0.65rem;padding-left: 0.6rem;">因为菊花可以缓解你的视疲劳，清理辐射呢。</b>
	</div>
	<img src="imgs/tea/images/tea_text2.jpg" placeholder_big" style="height:13.2rem;margin-top: 0.825rem;"/>
	<div class="redwine_line clear2" style="display: flex;">
		<p style="width:0.5rem;height: 2.6rem;background: #151515;margin-right: 0.35rem;"></p>
		<b style="display: block;color: #151515;line-height: 1.2rem;">眉目清亮眼眸补肾精<br />菊花枸杞完美组合</b>
	</div>
	<div class="watch_my1">
		<p style="padding-top: 0.3rem;">最近办公室的同事们发现了一款上品菊杞茶，几乎人手一包，小玛哥的爸妈尝了也是赞不绝口。</p>
		<b style="font-size: 0.7rem;padding-left: 0.6rem;padding-top: 0.5rem;display: block;">《本草纲目》里这样描述枸杞菊花</b>
		<p style="">“味甘，性平"具有散风热、平肝明目之功效”。肝火旺盛让你的眼白发黄，整个人会显得无精打采，这都是因为没有保护好肝脏。常喝枸杞菊花平肝，眉目更清晰明亮。</p>
		<b style="display:block;padding-top: 0.5rem;font-size: 0.7rem;padding-left: 0.6rem;">两者配合在一起，一清一补，标本兼顾，补肾生精，养肝，明目，令人长寿。 远离亚健康，让你更有活力</b>
	</div>
	<img src="imgs/tea/images/tea_text3.jpg" placeholder_big" style="height:26.075rem;margin-top: 0.825rem;"/>
	<div class="redwine_line clear2" style="display: flex;">
		<p style="width:0.5rem;height: 2.6rem;background: #151515;margin-right: 0.35rem;"></p>
		<b style="display: block;color: #151515;line-height: 1.2rem;">泡一壶上品菊杞茶<br />乐享中医食疗秘方</b>
	</div>
	<div class="watch_my1">
		<p style="padding-top: 0.3rem;">最近办公室的同事们发现了一款上品菊杞茶，几乎人手一包，小玛哥的爸妈尝了也是赞不绝口。</p>
		<b style="font-size: 0.7rem;padding-left: 0.6rem;padding-top: 0.5rem;display: block;">为什么都选这款恒天易德的明目枸杞菊花？</b>
		<p style="padding-top: 0.2rem;">因为小身材有大内涵！<span style="color: red;">除了必备的枸杞子和菊花以外，里面还添加了中医食疗秘方</span>，让茶的口味和功效统统升级，区别于普通的产品，让您在家就可以享受专业级的口感哦！</p>
	</div>
	<div class="watch_my1">
		<img src="https://shengchan-images.oss-cn-beijing.aliyuncs.com/uploads/product/2017/0915/0c/0a/0c0a93618d78eceb42f3c3f2d4ab08a7.jpg" class="placeholder_big" style="margin-top: 0.825rem;height: 16.375rem;margin-left: 0.6rem;" ng-click="toDetailPage('030304000016','1000006474')"/>	
	</div>
	<div class="good_jian1_watch" style="padding-bottom: 1.2rem;">
		<b>产品名称:</b>
		<b class="good_pin" style="display: block;">恒天易徳明目枸杞菊花40g</b>
		<b class="maya">市场价：59/ 玛雅活动价：29</b>
	</div>
</div>
<div class="floor_box">
	<p style="background: #fff;border-top:1px solid #eee;text-align: center;font-size: 0.6rem;height:2rem;line-height:2rem;">更多推荐</p>
	<!--分会场-->
	<div class="floor_list" ng-repeat="box in floor_detail track by $index">
		<p class="detail_title" ng-bind="box.title" ng-if="box.title"></p>
		<div class="pros_list_box">
			<div class="pro_box detail_pro_box" ng-repeat="product in box.data track by $index" ng-click="toDetailPage(product.productId,product.productLable)">
				<div class="pro_img_box">
					<img class="placeholder" ng-src="{{product.pictureAddr}}"/>
					<text class="list_activity_logo">直降</text>
				</div>
				<p class="pro_title ellipsis" ng-bind="product.productTitle"></p>
				<p class="pro_title ellipsis pro_infos" ng-bind="product.productName"></p>
				<div class="pro_price" >
					<span class="ellipsis" ng-bind="product.activityPrice?'¥'+product.activityPrice:'¥'+product.salePrice"></span>
					<span class="price_mini ellipsis" ng-if="product.activityPrice" ng-bind="'¥'+product.salePrice"></span>
				</div>
			</div>
		</div>
	</div>
</div>
<!--分享按钮-->
<img class="share_button" ng-if="isShowShar" src="imgs/activity_floor/share_button.png" ng-click="click_share()"/>
<!--微信中提示浏览器打开-->
<div is_show_weixin></div>
<!--pop提示-->
<toast_long></toast_long>
