<!--文章列表-->
<ul class="text_big_box">
	<li class="text_box" ng-click="goNext('article_detail')">
		<p class="good_logo">好货</br>推荐</p>
		<img class="placeholder_big" src="https://shengchan-images.oss-cn-beijing.aliyuncs.com/uploads/product/2017/0915/c2/91/c2917048024e7f7d88ac6aa3c0c418f2_small.jpg"/>
		<div class="text_content text_title_box">
			<p class="ellipsis"></p>
			<p>玛雅六月&沃之稻</p>
			<p>曾经的皇家贡米到底为什么好吃？</p>
			<!--<p>-->
				<!--<span class="ellipsis text_title_price">好货价：119,00</span>-->
			<!--</p>-->
		</div>
	</li>

	<li class="text_box">
		<div class="three-pro" ng-click="toDetailPage('030301000246','1000006784')">
			<img class="placeholder_big" src="https://shengchan-images.oss-cn-beijing.aliyuncs.com/uploads/product/2017/0915/2e/85/2e852f92c9b7f707f1de3b49b68edb36_small.jpg" alt="">
			<p class="twoline-hidden">【玛雅自营】沃之稻五常生态鸭田稻花香米2.5kg</p>
			<div class="pro_price">¥169</div>
		</div>
		<div class="three-pro" ng-click="toDetailPage('030301000251','1000006808')">
			<img class="placeholder_big" src="https://shengchan-images.oss-cn-beijing.aliyuncs.com/uploads/product/2017/0915/11/ac/11ac9b6a2e2669eff6e8a9d4b14e3875_small.jpg" alt="">
			<p class="twoline-hidden">【玛雅自营】沃之稻精谷原力米2.5kg</p>
			<div class="pro_price">¥188</div>
		</div>
		<div class="three-pro" ng-click="toDetailPage('030301000269','1000006900')">
			<img class="placeholder_big" src="https://shengchan-images.oss-cn-beijing.aliyuncs.com/uploads/product/2017/0915/0e/fb/0efb09cc9644ea0810153048843c7063_small.jpg" alt="">
			<p class="twoline-hidden">【玛雅自营】沃之稻五常生态鸭田稻花香米60kg年卡</p>
			<div class="pro_price">¥3999</div>
		</div>
	</li>

	<a style="overflow: hidden;display: block;" href="https://h.maya1618.com/#/activityproduct/:channelId/:specialId/:jsessionId?specialId=420">
		<img class="article_ban placeholder" src="https://images.maya1618.com/uploads/product/2017/1101/55/20/5520527a86be15bb63b841f32b4cfa20.jpg"></img>
	</a>
	<li class="text_box" ng-click="goNext('article_flour')">
		<img class="placeholder_big" src="https://shengchan-images.oss-cn-beijing.aliyuncs.com/uploads/product/2017/0901/87/18/8718754ad11d645b4d5459b89aed813f_small.jpg"/>
		<div class="text_content text_list_box">
			<p class="twoline-hidden">石磨面粉记</p>
			<p>石头打造的磨盘，磨制的面粉还记得吗？</p>
		</div>
	</li>

	<li class="text_box">
		<div class="three-pro" ng-click="toDetailPage('030301000036','1000000183')">
			<img class="placeholder_big" src="https://shengchan-images.oss-cn-beijing.aliyuncs.com/uploads/product/2017/0912/2a/39/2a396bbf9f85d7f2c883e3e3e0a7154b_small.jpg" alt="">
			<p class="twoline-hidden">忆磨 2KG*2袋 石磨黄米面</p>
			<div class="pro_price">¥59</div>
		</div>
		<div class="three-pro" ng-click="toDetailPage('030301000033','1000000177')">
			<img class="placeholder_big" src="https://shengchan-images.oss-cn-beijing.aliyuncs.com/uploads/product/2017/0901/22/c5/22c5d99c817b8ab87e60c79398605963_small.jpg" alt="">
			<p class="twoline-hidden">忆磨 2KG*2袋 石磨小米面</p>
			<div class="pro_price">¥55</div>
		</div>
		<div class="three-pro" ng-click="toDetailPage('030301000038','1000000186')">
			<img class="placeholder_big" src="https://shengchan-images.oss-cn-beijing.aliyuncs.com/uploads/product/2017/0901/59/34/5934edca57c4b13dd121d72064a169c0_small.jpg" alt="">
			<p class="twoline-hidden">忆磨 2KG*2袋 石磨全麦粉</p>
			<div class="pro_price">¥68</div>
		</div>
	</li>

	<a style="overflow: hidden;display: block;" href="https://h.maya1618.com/#/activityproduct/:channelId/:specialId/:jsessionId?specialId=421">
		<img class="article_ban placeholder" src="https://images.maya1618.com/uploads/product/2017/1102/b8/44/b844e9b9ba6242e78f6ff31bf16b30d6.jpg"></img>
	</a>

	<li class="text_box" ng-click="goNext('article_xiuxiu')">
		<img class="placeholder_big" src="https://images.maya1618.com/uploads/product/2017/1016/3f/a7/3fa77b8dbf96fdd39954dd71d2be2e8e_small.jpg"/>
		<div class="text_content text_list_box">
			<p class="xiuxiu-mt">那些你不知道的羞羞的事</p>
		</div>
	</li>

	<li class="text_box">
		<div class="three-pro" ng-click="toDetailPage('0303062000434','1000021444')">
			<img class="placeholder_big" src="https://images.maya1618.com/uploads/product/2017/1007/c6/f7/c6f7674f1b4fec3383f9b24d7a2b3cf1_small.jpg" alt="">
			<p class="twoline-hidden">霏慕情趣内衣sm制服诱惑角色扮演女佣服女仆套装 7912黑色套装+网袜+羽毛刷</p>
			<div class="pro_price">¥59</div>
		</div>
		<div class="three-pro" ng-click="toDetailPage('0303062000387','1000018677')">
			<img class="placeholder_big" src="https://images.maya1618.com/uploads/product/2017/1001/a9/0a/a90a6876e9a28438705a120b70a07d4a_small.jpg" alt="">
			<p class="twoline-hidden">古圣堂 印度神油 男性外用延时喷剂 持久延迟液口交喷雾 成人情趣用品</p>
			<div class="pro_price">¥32.9</div>
		</div>
		<div class="three-pro" ng-click="toDetailPage('0303062000187','1000016326')">
			<img class="placeholder_big" src="https://images.maya1618.com/uploads/product/2017/0927/f0/21/f021249769f18a120ce8c19c9f48c27b_small.jpg" alt="">
			<p class="twoline-hidden">雷霆 夫妻前戏情趣扑克牌调情体位惩罚成人性用品</p>
			<div class="pro_price">¥14.9</div>
		</div>
	</li>
</ul>