<!--文章详情-->
<div class="text_detail_box">
	<!--标题-->
	<div class="homeRecord">
		<p class="homeRecordTitle">曾经的皇家贡米到底为什么好吃？</p>
		<p style="display: none;" class="url_">article_detail</p>
		<!--<p class="homeTag">
			<span>玛雅六月</span>
			<span>2017-10-04 16:11:22</span>
		</p>-->
	</div>
	<!--详情-->
	<div class="headLineText">
		<p>&nbsp;&nbsp;中国，一个传承五千年的文明古国，地大物博，人口众多等等一个个曾经我们可以引以自傲的标签，正在悄悄的发生着变化。</p>
		<p>&nbsp; &nbsp; 经历过如此多的朝代更迭、内外战争，中国人民的生活环境、生活品质在发生着翻天覆地的变化经过恢复生产前期的盲目发展经济和建设，无底线的经营理念，让开始注重品质的中国人民却越来越难找到能够满足安全、品质的产品。</p>
		<p><img  class="ad-img" src="imgs/article/1.jpg" title="11.jpg" style="max-width:750px;width:750px"></p>
		<p>&nbsp; &nbsp; 近年来，食品安全事故频发，工业化的高速发展已经打破了安全的最后屏障，入侵到食品的领地威胁着我们的生命及下一代的安全。</p>
		<p>&nbsp; &nbsp; 一波未平一波又起的负面新闻令我们触目惊心玛雅六月电商平台的创始人深感消费者痛点所在，致力于打造“食品安全”的垂直类目，通过我们的精心筛选，让大家在玛雅六月买到绝对放心的食品。</p>
		<p>&nbsp; &nbsp; 2017年8月，玛雅六月的招商、采购人员开始深入市场调查与研究，并率先从联想集团、北大荒集团共同控股：“佳沃集团”进行战略合作洽谈并对其产品进行产地水源、生产、存储、加工及溯源等方面进行考察。</p>
		<img  class="ad-img" src="https://images1.maya1618.com/uploads/product/2017/1024/32/55/32553472f7db04fc31d744c75d7f0f4d.png" title="2.jpg" style="max-width:750px;width:750px">
		<p style="text-align:center"><strong>玛雅六月总经理和佳沃集团董事长&nbsp;</strong></p>
		<p style="text-align:center;" class="article_mb"><strong>合影留念</strong></p>
		<p>&nbsp; &nbsp; 东北之行，玛雅六月的负责人参观考察了佳沃集团的五常和牡丹江的生产基地对其生产环境和生产过程进行深入了解，进行了原产地的溯源，更达成了全方位的战略合作，建立了“玛雅六月农产响水生产基地”，响水基地地处拥有肥沃黑土地的牡丹江平原，灌溉水源来自长白山脉，是东北粮仓的核心产区，在此种植的作物选用优良品种，产出的粮食不但颗粒饱满而且经过国家有机绿色认证，是纯天然、无公害、营养丰富的优质食材。这里产出的粮食通过科学卫生的包装将直供给玛雅六月的消费群体，让消费者们在玛雅六月就能享受到安全、放心、高品质的食品。</p>
		<img  class="ad-img" src="imgs/article/2.jpg" title="3.jpg" style="max-width:750px;width:750px">
		<p style="text-align:center;" class="article_mb"><strong>生产基地摄影</strong></p>

		<div class="article_product" ng-click="toDetailPage('030301000245','1000006763')">
			<div class="article-product-img-wp">
				<img class="article-product-img" src="https://shengchan-images.oss-cn-beijing.aliyuncs.com/uploads/product/2017/0915/c2/91/c2917048024e7f7d88ac6aa3c0c418f2_small.jpg" alt="">
			</div>
			<div class="article-product-right-tit">
				沃之稻响水核心产区稻花香米2.5kg
			</div>
			<div class="article-product-right-price-wp">
				<div class="article-product-right-price">活动价:158元</div>
				<div class="article-product-right-button">去购买</div>
			</div>
		</div>


		<p>&nbsp; &nbsp;2017年9月15日，佳沃北大荒集团多个生产基地同时举办了“开镰节”，玛雅六月牡丹江响水基地、五常稻花香生产基地，同步开始收获今年第一批合作产品，新农业合作，新渠道拓展，我们不断的去尝试、发现、寻找，您要不要一起品尝今年最新的良心大米呢？</p>

		<div class="article_product" ng-click="toDetailPage('030301000246','1000006784')">
			<div class="article-product-img-wp">
				<img class="article-product-img" src="https://shengchan-images.oss-cn-beijing.aliyuncs.com/uploads/product/2017/0915/2e/85/2e852f92c9b7f707f1de3b49b68edb36_small.jpg" alt="">
			</div>
			<div class="article-product-right-tit out_hidden2">
				【玛雅自营】沃之稻五常生态鸭田稻花香米2.5kg
			</div>
			<div class="article-product-right-price-wp">
				<div class="article-product-right-price">活动价:169元</div>
				<div class="article-product-right-button">去购买</div>
			</div>
		</div>
		<div class="article_product" ng-click="toDetailPage('030301000251','1000006808')">
			<div class="article-product-img-wp">
				<img class="article-product-img" src="https://shengchan-images.oss-cn-beijing.aliyuncs.com/uploads/product/2017/0915/11/ac/11ac9b6a2e2669eff6e8a9d4b14e3875_small.jpg" alt="">
			</div>
			<div class="article-product-right-tit out_hidden2">
				【玛雅自营】沃之稻精谷原力米2.5kg
			</div>
			<div class="article-product-right-price-wp">
				<div class="article-product-right-price">活动价:188元</div>
				<div class="article-product-right-button">去购买</div>
			</div>
		</div>
		<div class="article_product" ng-click="toDetailPage('030301000269','1000006900')">
			<div class="article-product-img-wp">
				<img class="article-product-img" src="https://shengchan-images.oss-cn-beijing.aliyuncs.com/uploads/product/2017/0915/0e/fb/0efb09cc9644ea0810153048843c7063_small.jpg" alt="">
			</div>
			<div class="article-product-right-tit out_hidden2">
				【玛雅自营】沃之稻五常生态鸭田稻花香米60kg年卡
			</div>
			<div class="article-product-right-price-wp">
				<div class="article-product-right-price">活动价:3999元</div>
				<div class="article-product-right-button">去购买</div>
			</div>
		</div>
		<p><br></p>
	</div>
	<!--分享按钮-->
	<img class="share_button" ng-if="isShowShar" src="imgs/activity_floor/share_button.png" ng-click="click_share()"/>
</div>
<!--微信中提示浏览器打开-->
<div is_show_weixin></div>
<!--pop提示-->
<toast_long></toast_long>

