<div class="text_detail_box">
    <div class="homeRecord">
        <p class="homeRecordTitle">石头打造的磨盘 磨制的面粉还记得吗？</p>
        <p style="display: none;" class="url_">article_flour</p>
    </div>

    <div class="headLineText">
        <p>&nbsp;&nbsp;科学的发展让人们享受到了更便捷的生活方式，更加丰富的物质生活，然而，我们在享受科技文明进步的同时，也在慢慢的失去着许多本来的就更适宜人们的资源、产品。</p>
        <p>&nbsp;&nbsp;通过对市场、产品的不断调研、分析、研究，玛雅六月的工作人员发现，随着机械化的不断加深，产量的不断增加，我们的农业产品却正在一步步的丢失掉优良传统。</p>
        <p><img  class="ad-img" src="imgs/article/flour1.jpg" style="max-width:750px;width:750px"></p>
        <p>&nbsp;&nbsp; 现代化的钢磨辊精研细磨，皮磨采用排列有序钢齿辊进行碾压式的高压大量取粉，并且磨粉机具有运转速度快、温度高等特点，但是此类机械产品从味道、色泽、以及口感上已经丧失了面粉的独特性，仅剩了果腹的作用。机械化生产下的产品，只能保证量化，无法做到更有效的保留产品的本质，从以上几点出发，我们锁定了茫茫产品池中的匠心产品，更加接近产品的内在，保留下属于产品的自有特征。</p>

        <div class="article_product" ng-click="toDetailPage('030301000032','1000000175')">
            <div class="article-product-img-wp">
                <img  class="article-product-img" src="https://shengchan-images.oss-cn-beijing.aliyuncs.com/uploads/product/2017/0901/87/18/8718754ad11d645b4d5459b89aed813f_small.jpg" alt="">
            </div>
            <div class="article-product-right-tit">
                忆磨 2KG*2袋 石磨绿豆面
            </div>
            <div class="article-product-right-price-wp">
                <div class="article-product-right-price">活动价:98元</div>
                <div class="article-product-right-button">去购买</div>
            </div>
        </div>

        <p>&nbsp;&nbsp;食品从功能上来说应当具备：充饥、营养、提供能量、提升愉悦感、感官享受等功能。如何能够选择到更好的食品？第一是要根据自身的实际情况来选择，不能触碰险区，比如说糖尿病患者应该选择低糖或无糖食品；第二是根据实际需求来选取，毕竟高级宴会与家庭聚餐还是有区别的；第三是要根据自己的条件来选择，我们要能够享受奢侈的生活，更要能回归到平淡中去；最后是要能找到符合自己的食材。</p>
        <img  class="ad-img" src="imgs/article/flour2.jpg" style="max-width:750px;width:750px">

        <div class="flour-left-title">如何购买和分辨石磨面粉呢？</div>
        <div class="flour-left-text">[石磨方面]</div>
        <div class="flour-left-text">色泽：</div>
        <div class="flour-left-text">①石磨面粉呈自然的白色且微泛黄色。</div>
        <div class="flour-left-text">②因为石磨面粉中含有大量的胡萝卜素和膳食纤维。</div>
        <div class="flour-left-text">口感和味道：</div>
        <div class="flour-left-text">①面筋质、麦胚中的香味（麦香精华）；</div>
        <div class="flour-left-text">②用石磨面粉和面时，吃水多而且面和好后醒面的时间短，无论拉、扯、搓，面条都能保持柔韧且不断，面条或面片煮熟后，口感柔韧且筋道。</div>
        <div class="flour-left-text">③用石磨面粉做成的各种面食，麦香味很浓，口感好，有嚼头。</div>

        <p>&nbsp;&nbsp;对了，石磨不需要任何添加剂，使面粉的质量得到保证，玛雅六月有售哦。</p>
        <img class="ad-img" src="imgs/article/flour3.jpg" style="max-width:750px;width:750px">
        <p>&nbsp;&nbsp;让食品更安全，让品质更健康，让食材更接近自然，我们会一直的不停的寻找。</p>


        <div class="article_product" ng-click="toDetailPage('030301000036','1000000183')">
            <div class="article-product-img-wp">
                <img  class="article-product-img" src="https://shengchan-images.oss-cn-beijing.aliyuncs.com/uploads/product/2017/0912/2a/39/2a396bbf9f85d7f2c883e3e3e0a7154b_small.jpg" alt="">
            </div>
            <div class="article-product-right-tit">
                忆磨 2KG*2袋 石磨黄米面
            </div>
            <div class="article-product-right-price-wp">
                <div class="article-product-right-price">活动价:59元</div>
                <div class="article-product-right-button">去购买</div>
            </div>
        </div>

        <div class="article_product" ng-click="toDetailPage('030301000038','1000000186')">
            <div class="article-product-img-wp">
                <img class="article-product-img" src="https://shengchan-images.oss-cn-beijing.aliyuncs.com/uploads/product/2017/0901/22/c5/22c5d99c817b8ab87e60c79398605963_small.jpg" alt="">
            </div>
            <div class="article-product-right-tit">
                忆磨 2KG*2袋 石磨小米面
            </div>
            <div class="article-product-right-price-wp">
                <div class="article-product-right-price">活动价:55元</div>
                <div class="article-product-right-button">去购买</div>
            </div>
        </div>

        <div class="article_product" ng-click="toDetailPage('030301000038','1000000186')">
            <div class="article-product-img-wp">
                <img  class="article-product-img" src="https://shengchan-images.oss-cn-beijing.aliyuncs.com/uploads/product/2017/0901/59/34/5934edca57c4b13dd121d72064a169c0_small.jpg" alt="">
            </div>
            <div class="article-product-right-tit">
                忆磨 2KG*2袋 石磨全麦粉
            </div>
            <div class="article-product-right-price-wp">
                <div class="article-product-right-price">活动价:68元</div>
                <div class="article-product-right-button">去购买</div>
            </div>
        </div>

        <p><br></p>

    </div>
    <!--分享按钮-->
	<img class="share_button" ng-if="isShowShar" src="imgs/activity_floor/share_button.png" ng-click="click_share()"/>
</div>
<!--微信中提示浏览器打开-->
<div is_show_weixin></div>
<toast_long></toast_long>