<div class="text_detail_box">
    <div class="homeRecord">
        <p class="homeRecordTitle">那些你不知道的羞羞的事</p>
        <p style="display: none;" class="url_">article_xiuxiu</p>
    </div>

    <div class="headLineText">
        <p>&nbsp;&nbsp;两性关系一直是一个比较复杂的话题，男性的理性思考和女性的感性思维，一直存在着本质上的差别，如何调节好这个关系，也就成了一个家庭必须面对的课题。</p>
        <p><img  class="ad-img" src="imgs/article/xiuxiu1.jpg" style="max-width:750px;width:750px"></p>
        <p>&nbsp;&nbsp;中国在封建社会的发展历程中，对于"性"有着纷杂的看法，有压抑、有推崇、有忌讳、有误解，甚至产生过整个社会对于这个话题三缄其口，认为这个是“污秽”、“淫荡”的表现，但是，“食色性也”，老祖宗早已将性与吃放到了与同等重要的位置。</p>

        <p id="xiuxiu-single-img" ng-click="toDetailPage('0303062000142','1000015324')"><img  class="ad-img" src="https://images.maya1618.com/uploads/product/2017/0925/7f/f7/7ff780744e7a1b427feac5cf68dd04fc_small.jpg" style="max-width:750px;width:750px"></p>
        <div class="xiuxiu-tit">
            艾媚儿紧致夹吸震动充电飞机杯
        </div>

         <p>&nbsp;&nbsp;从生理和心理上来讲，和谐的“性”生活，是一个家庭稳定的基础，是感情的一种交流方式，更是爱情的外在表现。</p>

         <p><img  class="ad-img" src="imgs/article/xiuxiu2.jpg" style="max-width:750px;width:750px"></p>

        <p>&nbsp;&nbsp;成熟的社会，已经开始不再回避谈“性问题”，以前的禁忌，已经开始被大众所接受。同性、独身的思想，已经开始被理解或接纳。</p>

        <p><img  class="ad-img" src="imgs/article/xiuxiu3.jpg" style="max-width:750px;width:750px"></p>

        <p>&nbsp;&nbsp;更好的情调，更宽容的心态，更舒适的环境，更适当的氛围，才可以营造出更适合的时机和状态，让“性”与“爱”完美结合，让“灵”与“肉”深层次的交流。</p>
        <p><img  class="ad-img" src="imgs/article/xiuxiu4.jpg" style="max-width:750px;width:750px"></p>

        <div class="flour-left-text">对了，在这里还有一些小技巧需要分享一下：</div>
        <div class="flour-left-text">安全，为你守护：</div>


        <div class="article_product"  ng-click="toDetailPage('0303062000611','1000023906')">
            <div class="article-product-img-wp">
                <img  class="article-product-img" src="https://images.maya1618.com/uploads/product/2017/1016/3f/a7/3fa77b8dbf96fdd39954dd71d2be2e8e_small.jpg" alt="">
            </div>
            <div class="article-product-right-tit twoline-hidden">
                杜蕾斯 天然胶乳橡胶避孕套 (超薄装) 12只
            </div>
            <div class="article-product-right-price-wp">
                <div class="article-product-right-price">活动价:43元</div>
                <div class="article-product-right-button">去购买</div>
            </div>
        </div>
        <div class="flour-left-text">魅惑，让诱惑更有激情：</div>

        <div class="article_product" ng-click="toDetailPage('0303062000434','1000021444')">
            <div class="article-product-img-wp">
                <img  class="article-product-img" src="https://images.maya1618.com/uploads/product/2017/1007/c6/f7/c6f7674f1b4fec3383f9b24d7a2b3cf1_small.jpg" alt="">
            </div>
            <div class="article-product-right-tit twoline-hidden">
                霏慕情趣内衣sm制服诱惑角色扮演女佣服女仆套装 7912黑色套装+网袜+羽毛刷
            </div>
            <div class="article-product-right-price-wp">
                <div class="article-product-right-price">活动价:59元</div>
                <div class="article-product-right-button">去购买</div>
            </div>
        </div>
        <div class="flour-left-text">温存，尽情释放后的恬淡：</div>
        <div class="article_product" ng-click="toDetailPage('0303062000422','1000020061')">
            <div class="article-product-img-wp">
                <img class="article-product-img" src="https://images.maya1618.com/uploads/product/2017/1004/8d/d4/8dd42e92132fa3dc239f6dc29c8c4950_small.jpg" alt="">
            </div>
            <div class="article-product-right-tit twoline-hidden">
                JOKO 女用性冷淡缩阴助情催性欲兴奋发情粉剂液(15ml)
            </div>
            <div class="article-product-right-price-wp">
            <div class="article-product-right-price">活动价:98元</div>
            <div class="article-product-right-button">去购买</div>
            </div>
        </div>

        <div class="flour-left-text">嗯嗯，其实还有一些小神器哦</div>
        <!--<div class="flour-left-text">情趣玩具</div>-->

        <div class="article_product" ng-click="toDetailPage('0303062000387','1000018677')">
            <div class="article-product-img-wp">
                <img  class="article-product-img" src="https://images.maya1618.com/uploads/product/2017/1001/a9/0a/a90a6876e9a28438705a120b70a07d4a_small.jpg" alt="">
            </div>
            <div class="article-product-right-tit twoline-hidden">
                古圣堂 印度神油 男性外用延时喷剂 持久延迟液口交喷雾 成人情趣用品
            </div>
            <div class="article-product-right-price-wp">
                <div class="article-product-right-price">活动价:32.9元</div>
                <div class="article-product-right-button">去购买</div>
            </div>
        </div>

        <div class="article_product" ng-click="toDetailPage('0303062000179','1000015862')">
            <div class="article-product-img-wp">
                <img  class="article-product-img" src="https://images.maya1618.com/uploads/product/2017/0927/9b/e0/9be00c6da4d656551de91e3c05663158_small.jpg" alt="">
            </div>
            <div class="article-product-right-tit twoline-hidden">
                雷霆女用AV振动棒自慰器 1+1双头震动女性成人情趣性玩具
            </div>
            <div class="article-product-right-price-wp">
                <div class="article-product-right-price">活动价:149元</div>
                <div class="article-product-right-button">去购买</div>
            </div>
        </div>

        <div class="article_product" ng-click="toDetailPage('0303062000187','1000016326')">
            <div class="article-product-img-wp">
                <img  class="article-product-img" src="https://images.maya1618.com/uploads/product/2017/0927/f0/21/f021249769f18a120ce8c19c9f48c27b_small.jpg" alt="">
            </div>
            <div class="article-product-right-tit twoline-hidden">
                雷霆 夫妻前戏情趣扑克牌调情体位惩罚成人性用品
            </div>
            <div class="article-product-right-price-wp">
                <div class="article-product-right-price">活动价:14.9元</div>
                <div class="article-product-right-button">去购买</div>
            </div>
        </div>

        <div class="flour-left-text">好了，羞羞的事情羞羞的说，希望大家羞羞的做大家爱做的事情。</div>

        <p><br></p>

    </div>
    <!--分享按钮-->
	<img class="share_button" ng-if="isShowShar" src="imgs/activity_floor/share_button.png" ng-click="click_share()"/>
</div>
<!--微信中提示浏览器打开-->
<div is_show_weixin></div>
<toast_long></toast_long>