<!--仓买-->
<ul class="text_big_box">
	<li class="text_box" ng-repeat="list in buy_list track by $index" ng-click="toDetailPage(list.productId,list.productLable)">
		<!--（0：自营 1:非自营）-->
		<p class="good_logo" ng-if="list.merchantType==0">平台</br>自营</p>
		<img class="placeholder_big" ng-src="{{list.pictureAddr}}"/>
		<div class="text_content text_list_box" style="overflow: initial;">
			<p class="ellipsis" style="font-size: 0.75rem;margin: 0.35rem 0 0.35rem;" ng-bind="list.productTitle"></p>
			<p ng-bind="list.productName"></p>
			<p class="buy_price_box">
				<span class="ellipsis text_title_price" ng-bind="'好货价：'+list.activityPrice"></span>
			</p>
		</div>
	</li>
</ul>