<div class="carnival-wp">
    <div class="carnival-header">
        <img class="placeholder" src="imgs/carnival/carnival_header.jpg">
        <!--<div class="carnival-header-more-btn"></div>-->
    </div>
    <div class="carnival-ban1">
        <div class="carnival-ban1-text"></div>
    </div>
    <div class="floor_list list-no-mb" ng-repeat="list in lists track by $index">
        <div class="carnival-tit" ng-bind="tags[$index]"></div>
        <div class="floor_pro_box">
            <div class="pro_content_box" style="width: {{5.5*(list.length+1)}}rem;">
                <div class="pro_box" ng-repeat="product in list track by $index" ng-click="toDetailPage(product.productId,product.productLable)">
                    <div class="pro_img">
                        <img class="placeholder_big" ng-src="{{product.pictureAddr}}"/>
                        <text class="list_activity_logo">直降</text>
                    </div>
                    <p class="pro_title out_hidden2" ng-bind="product.productTitle"></p>
                    <div class="pro_price" >
                        <span class="big-price" ng-bind="product.activityPrice?'¥'+product.activityPrice:'¥'+product.salePrice"></span>
                        <span class="price_mini ellipsis" ng-if="product.activityPrice" ng-bind="'¥'+product.salePrice"></span>
                    </div>
                </div>
                <!--更多-->
                <div class="pro_box">
                    <a href="{{comment_url+areaLinks[$index]+'&from='+whereIsFrom}}">
                        <div class="pro_img">
                            <img src="imgs/more.png"/>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="carnival-ban1">
        <div class="carnival-ban2-text"></div>
    </div>
    <div class="carnival-card">
    	<a ng-repeat="ids in centerImgList track by $index" href="{{comment_url+centerImgList[$index]+'&from='+whereIsFrom}}">
            <div class="card-btn">
                <img ng-src="imgs/carnival/carnival-card{{$index+1}}.png" alt="">
            </div>
        </a>
    </div>
    <div class="carnival-ban1">
        <div class="carnival-ban3-text"></div>
    </div>


    <div class="floor_list floor_carnival" ng-repeat="list in listsb track by $index">
        <a href="{{comment_url+bottomLinks[$index]+'&from='+whereIsFrom}}">
            <img class="placeholder carnival-img-btn" ng-src="imgs/carnival/carnival_ad{{$index+1}}.png"/>
        </a>
        <div class="floor_pro_box">
            <div class="pro_content_box" style="width: {{5.5*(list.length+1)}}rem;">
                <div class="pro_box" ng-repeat="product in list track by $index" ng-click="toDetailPage(product.productId,product.productLable)">
                    <div class="pro_img">
                        <img class="placeholder_big" ng-src="{{product.pictureAddr}}"/>
                        <text class="list_activity_logo">直降</text>
                    </div>
                    <p class="pro_title out_hidden2" ng-bind="product.productTitle"></p>
                    <div class="pro_price" >
                        <span class="big-price" ng-bind="product.activityPrice?'¥'+product.activityPrice:'¥'+product.salePrice"></span>
                        <span class="price_mini ellipsis" ng-if="product.activityPrice" ng-bind="'¥'+product.salePrice"></span>
                    </div>
                </div>
                <div class="pro_box" ng-click="">
                    <a href="{{bottomLinks[$index]+'&from='+whereIsFrom}}">
                        <div class="pro_img">
                            <img src="imgs/more.png"/>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--分享按钮-->
<img class="share_button" ng-if="isShowShar" src="imgs/activity_floor/share_button.png" ng-click="click_share()"/>
<!--微信中提示浏览器打开-->
<div is_show_weixin></div>