<div class="chart-wp">
    <div class="chart-tip"><span>{{data.currentMonth}}</span>收益</div>
    <div class="chart-sel">
        <div class="chart-search" ng-click="selectMonth()"></div>
    </div>
    <div id="maintop" class="line-chart-wp"></div>

    <section class="list-detail">
        <div class="cd-tip">成员贡献</div>
        <!--<div id="mainbottom" class="line-chart-wp2"></div>-->
        <ul>
            <li id="record-list-item" ng-repeat="item in data.listItem">
                <img id="chart-portrait" ng-src="{{item.memberAvatar}}" src="imgs/portrait-def-p.png">
                <div class="record-detail" id="record-detail">
                    <div class="nick-name-wp" id="chart-nick-name">
                        <span class="chart-name">{{item.nickName}}</span>
                    </div>
                    <!--<div class="record-time">{{item.snagTime | date:'yyyy-MM-dd HH:mm:ss'}}444444444</div>-->
                    <span id="chart-times">{{item.contributionCounts}}次</span>
                </div>
            </li>
        </ul>
    </section>
</div>
<div class="masker" ng-click="hideChartMasker()"></div>
<ul class="chart-month">
    <li class="month-detail" ng-click="monthBtnClick(item.value)" ng-repeat="item in data.selectDate" ng-bind="item.key"></li>
</ul>

