<div class="floor_box">
	<!--顶部banner-->
	<img src="imgs/activity_floor/ban.jpg" class="top_banner placeholder"/>
	<!--分会场小图-->
	<div class="swiper-container" id="mini_swiper">
		<div class="swiper-wrapper mini_list_box">
			<div class="swiper-slide mini_img_box" ng-repeat="img in data.mini_list track by $index">
				<img class="placeholder_big" ng-src="imgs/{{data.mini_img_url}}/m_{{img}}.jpg" ng-click="scrollPage($index)"/>
			</div>
		</div>
	</div>
	<!--分会场楼层-->
	<div class="floor_list" ng-repeat="list in lists track by $index">
		<img class="placeholder" ng-src="imgs/activity_floor/b_{{$index+1}}.jpg" ng-click="goNext($index)"/>
		<!--每行多个，可滑动-->
		<div class="floor_pro_box">
			<div class="pro_content_box" style="width: {{5.5*list.length}}rem;">
				<product_list_x ng-repeat="product in list track by $index"></product_list_x>
			</div>
		</div>
		<!--一行3个，不能滑动-->
		<!--<div class="floor_pro_box" id="product_list_x">
			<div class="pro_content_box">
				<product_list_x ng-repeat="product in list track by $index"></product_list_x>
			</div>
		</div>-->
	</div>
</div>

<div go_top></div>