<div class="floor_box">
	<!--顶部banner-->
	<img src="imgs/double/double-banner.jpg" class="top_banner placeholder" style="min-height: 10.5rem;height: initial;"/>
	<!--女-->
	<div class="double_title_txt">
		<div class="titleone"><span>/ / / / / / / / </span>
			<p>女士必买清单</p><span>/ / / / / / / / </span></div>
		<div class="titletwo"><span>/&nbsp; Ms.&nbsp; /</span></div>
	</div>
	<div class="double_title_woman">
		<img src="imgs/double/woman.png" class="imgs" />
		<!--女-点-->
		<div class="box{{indexf}} obtain" ng-click="double_click(indexf)" ng-repeat="indexf in lightspot_indexf track by $index">
			<div class="dot"></div>
			<div class="center"></div>
		</div>
		<!--女-产品-->
		<div class="pro womandata" ng-click="toDetailPage(currentwoman.productId,currentwoman.productLable)">
			<img ng-src="{{currentwoman.logo}}" alt="" class="double_imgs placeholder_big" />
			<p class="double_p ellipsis" ng-bind="currentwoman.activityTxt"></p>
			<img ng-src="{{currentwoman.pictureAddr}}" alt="" class="double_imgtwo placeholder_big" />
			<div class="double_title">
				<p class="double_twop out_hidden2 " ng-bind="currentwoman.productTitle"></p>
			</div>
			<p class="double_price">RMB<span ng-bind="currentwoman.activityPrice"></span></p>
		</div>
	</div>
	<!--男-->
	<div class="double_title_txt">
		<div class="titleone"><span>/ / / / / / / / </span>
			<p>男士必买清单</p><span>/ / / / / / / / </span></div>
		<div class="titletwo"><span>/&nbsp; Mr.&nbsp; /</span></div>
	</div>
	<div class="double_title_woman">
		<img src="imgs/double/man.png" class="imgs" />
		<!--男-点-->
		<div class="quan{{index}} obtain" ng-click="double_click_man(index)" ng-repeat="index in lightspot_index track by $index">
			<div class="dot"></div>
			<div class="center"></div>
		</div>
		<div class="pro mandata" ng-click="toDetailPage(currentman.productId,currentman.productLable)">
			<img ng-src="{{currentman.logo}}" alt="" class="double_imgs placeholder_big" />
			<p class="double_p ellipsis" ng-bind="currentman.activityTxt"></p>
			<img ng-src="{{currentman.pictureAddr}}" alt="" class="double_imgtwo placeholder_big" />
			<div class="double_title">
				<p class="double_twop out_hidden2 " ng-bind="currentman.productTitle"></p>
			</div>
			<p class="double_price">RMB<span ng-bind="currentman.activityPrice"></span></p>
		</div>
	</div>
</div>
<!------------------------------->
<div class="double_title_txt">
	<div class="titleone"><span>/ / / / / / / / </span>
		<p>每日十款精选 . 限量特惠</p><span>/ / / / / / / / </span></div>
	<div class="titletwo"><span>/&nbsp; 11元 . 111元 . 1111元&nbsp; /</span></div>
</div>
<div class="floor_list">
	<!--每行三个的-->
	<div class="floor_pro_box" id="product_list_x">
		<div class="pro_content_box floor_list_11">
			<product_list_x ng-repeat="product in lists track by $index" ng-if="$index != 9"></product_list_x>
		</div>
	</div>
	<!--单个横向-->
	<div class="double_yun" ng-if="lists.length == 10" ng-click="toDetailPage(lists_x.productId,lists_x.productLable)">
		<div class="double_yun_center">
			<div class="double_left">
				<img ng-src="{{lists_x.pictureAddr}}" class="pics placeholder" />
			</div>
			<div class="double_right">
				<div class="title" style="font-size:0.575rem">
					<p class="out_hidden2" ng-bind="lists_x.productTitle"></p>
					<div class="pro_price" style="overflow: hidden;">
						<span class="big-price" ng-bind="lists_x.activityPrice?'¥'+lists_x.activityPrice:'¥'+lists_x.salePrice"></span>
						<span class="price_mini ellipsis top" ng-if="lists_x.activityPrice" ng-bind="'¥'+lists_x.salePrice"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--图片的列表-->
<div class="double_link_box" ng-repeat="double in banner_url_link track by $index">
	<div class="double_title_txt">
		<div class="titleone"><span>/ / / / / / / / </span>
			<p ng-bind="double.title"></p><span>/ / / / / / / / </span></div>
		<div class="titletwo"><span ng-bind="'/&nbsp; '+double.info+'&nbsp; /'"></span></div>
	</div>
	<div class="carnival-card" style="background: #fff;">
		<a ng-repeat="ids in double.ids track by $index" href="{{activity_url}}specialId={{ids}}&from={{whereIsFrom}}&code={{appInfo.invite_code}}&inviteMobile={{appInfo.invite_name}}">
			<div class="card-btn">
				<img ng-src="imgs/double/double_card{{$index + double.url_index}}.png" alt="">
			</div>
		</a>
	</div>
</div>
<!--分享按钮-->
<img class="share_button" ng-if="isShowShar" src="imgs/activity_floor/share_button.png" ng-click="click_share()"/>
<!--微信中提示浏览器打开-->
<div is_show_weixin></div>
<!--pop提示-->
<toast_long></toast_long>