<div class="help-wrap">
    <ul class="help-item">
        <li ng-click="goNext('faq')">常见问题 <i class="arrow" ></i></li>
        <li ng-click="goNext('delivery')">配送与验收 <i class="arrow"></i></li>
        <li ng-click="goNext('hse')">售后服务 <i class="arrow"></i></li>
    </ul>
    <ul class="help-item bt10">
        <li ng-click="goNext('coupon')">优惠券使用规则<i class="arrow" ng-click="tohelpDetail()"></i></li>
        <!--<li>退换货规则<i class="arrow"></i></li>-->
        <li ng-click="goNext('receipt')">发票常见问题 <i class="arrow"></i></li>
    </ul>
    <ul class="help-item bt10">
        <li ng-click="goNext('agreement')">服务协议<i class="arrow" ng-click="tohelpDetail()"></i></li>
        <li ng-click="goNext('secret')" id="border-show">隐私政策<i class="arrow"></i></li>
    </ul>
</div>