<div class="outer_bg">
	<p id="goDownload" ng-click="go_down_now()">直接下载</p>
	<div class="invite_box">
		<div class="center_div">
			<p class="font_p2">啦啦~你的好友 <span style="color: #f1021e;" ng-bind="inviteMobile"></span> 邀请你加入</p>
			<p class="font_p3">~~~快来这里福利多多呦~~~</p>
		</div>
		<div class="input_div">
			<input type="text" maxlength="11" class="phone" placeholder="请输入手机号" ng-model="input_phone"/>
			<div class="code_box" get_invitation_code>
				<input type="text" class="code" placeholder="请输入验证码" ng-model="input_code"/>
				<span class="get_code" ng-click="getCodeBtnClick(input_phone)" ng-bind="data_time"></span>
			</div>
		</div>
		<div class="jion_up">
			<p class="join_we" ng-click="maskerGetGiftBtn(input_phone,input_code)">立即领取</p>
		</div>
	</div>
</div>
<!--正则-->
<invite_regexp></invite_regexp>
<toast_long></toast_long>