<!--<div class="tab-nav">-->
    <!--<div  class="sticky-btn" ng-class="{ 'active' : data.current == 1 }" ng-click="page.setCurrent(1)">-->
        <!--<span>详情介绍<i class="scroll" ng-if="data.current == 1"></i></span>-->
    <!--</div>-->
    <!--<div  class="sticky-btn" ng-class="{ 'active' : data.current == 2 }" ng-click="page.setCurrent(2)">-->
        <!--<span>包装规格<i class="scroll" ng-if="data.current == 2"></i></span>-->
    <!--</div>-->
    <!--<div  class="sticky-btn" ng-class="{ 'active' : data.current == 3 }" ng-click="page.setCurrent(3)">-->
        <!--<span>售后保障<i class="scroll" ng-if="data.current == 3"></i></span>-->
    <!--</div>-->
<!--</div>-->
<div class="tab-body">
    <div loading_tpl></div>
    <!--<div class="delay_text">
        亲爱的玛雅宝宝，您好！本月将召开中共十九大会议，期间北京及周边地区安保将全面升级，10月从玛雅六月经京津冀中转和发往北京、西藏及新疆等地的包裹配送时效将受影响，以上地区包裹收件人将实行实名制，各类刀具、易燃易爆物品、部分液体类、粉末类和膏状等商品安检时可能被退回，预计11月3日恢复正常发货，敬请谅解！
        祝你购物愉快！希望有机会继续为您服务！
    </div>-->
    <!--<div ng-if="data.current == 2">-->
        <div class="tab-body-center">
            <div class="standard-wrap" ng-repeat="item in data.standardData" ng-if="$index < 6 || data.showAll">
                <div class="standard-name">{{item.name}}</div>
                <div class="standard-text">{{item.text}}</div>
            </div>

            <div class="standard-arrow" ng-click="page.showAllBtnClick()" ng-if="data.showAllBtn">
                {{data.text}}
                <i class="{{data.showAll?'arrow-up':'arrow-down'}}"></i>
            </div>
        </div>
    <!--</div>-->

    <!--<div ng-if="data.current == 1">-->
        <!--<div class="detail-img">-->
            <!--<img ng-src="{{item.bigImg}}" alt="" ng-repeat="item in data.imgData" style="width: 100%; height:initial;display:block;">-->
        <!--</div>-->

        <div class="detail-text">

        </div>
    <!--</div>-->


        <div class="tab-body-right">
        <div class="selfText" ng-if="data.selfText">
            <div class="tab-body-right-hidden" ng-click="page.showaftersale()">
                售后说明
                <i class="{{data.showaftersale?'arrow-up flow-right-arrow':'arrow-down flow-right-arrow'}}"></i>
            </div>
            <div class="guarantee-content show-aftersale">
                {{data.selfText}}
            </div>
        </div>

        <div class="tab-body-right-hidden" ng-click="page.showTips()">
            温馨提示
            <i class="{{data.showTips?'arrow-up flow-right-arrow':'arrow-down flow-right-arrow'}}"></i>
        </div>
        <div class="guarantee-content show-tips">
            由于部分商品包装更换较为频繁，因此您收到的商品有可能与图片不完全一致，页面图片及描述仅供参考，请您以最终收到的实物为准。同时我们会尽量及时更新图片，由此给您带来的不便请多谅解！
        </div>

        <div class="tab-body-right-hidden" ng-click="page.showPrice()">
            价格说明
            <i class="{{data.showPrice?'arrow-up flow-right-arrow':'arrow-down flow-right-arrow'}}"></i>
        </div>
        <div class="guarantee-content show-price">
            1、划线价格：划线价格可能是商品的专柜价、吊牌价或正品零售指导价或该商品曾经展示过的销售价等，<span class="show-price-bold">并非原价</span>，该价格仅供您参考。
            <br>
            2、未划线价格：指商品的<span class="show-price-bold">实时标价</span>，不因表述的差异改变性质。具体成交价格根据商品参加活动、使用优惠券等发生变化，最终以订单结算页价格为准。
            <br>
            3、价格异常：因可能存在系统缓存、页面更新延迟等不确定性情况，导致价格显示异常，商品具体售价请以订单结算页价格为准。
        </div>

        <!--<div class="guarantee-title">-->
            <!--正品保障-->
        <!--</div>-->
        <!--<div class="guarantee-content">-->
            <!--玛雅六月入驻商家承诺该商品为100%正品，并提供“正品保障”服务，您可以放心选购。-->
        <!--</div>-->

        <img src="imgs/guarantee.png" alt="" class="guarantee-img">

    </div>
    </div>
</div>

<!--<div loading_tpl></div>-->
















