<div class="share-wp">
    <div class="share-bg">
        <div class="share-total"></div>
        <div class="get-btn" ng-click="upDown()">立即更新</div>
        <!--<div class="get-btn" ng-click="getGiftBtnClick()">立即领取</div>-->
    </div>
    <!--<div class="share-down">
        <div class="qr-code"></div>
        <div class="download-app">
            <div class="download-text">下载APP</div>
            <div class="download-text">享受更多优惠活动</div>
            <a ng-href="{{data.downloadUrl}}"><div class="download-btn">立即下载</div></a>
        </div>
    </div>-->
</div>

<div class="share-login-wp" style="display: none">
    <div class="login" >
        <div class="share-title">登录领取</div>
        <i class="share-close" ng-click="closeButtonClick()"></i>
        <div class="login-phone" id="login-phone">
            <input id="phone" type="text" placeholder="请输入手机号" ng-model="phoneNumber" maxlength="11">
        </div>
        <div class="login-phone">
            <input id="phone-code" type="number" placeholder="请输入验证码" ng-model="codeNumber">
            <div class="get-code" ng-click="getCodeBtnClick()">{{data_time}}</div>
        </div>
        <div class="get-gift" ng-click="maskerGetGiftBtn()">立即领取</div>
    </div>

    <div class="login"  id="failed" style="display: none">
        <div class="get-failed-icon"></div>
        <i class="share-close" ng-click="closeButtonClick()"></i>
        <div class="failed-text">您已领取过大礼包，去平台参与其它优惠活动吧</div>
        <a class="download-app-btn-box" ng-href="{{data.downloadUrl}}"><div class="download-app-btn">下载APP</div></a>
    </div>

    <div class="login" id="success" style="display: none;">
        <div class="get-success-icon"></div>
        <i class="share-close" ng-click="closeButtonClick()"></i>
        <div class="success-text">恭喜你成为玛雅六月的一员，用你的大礼包购物去吧！</div>
        <a class="download-app-btn-box" ng-href="{{data.downloadUrl}}"><div class="download-app-btn">下载APP去使用</div></a>
    </div>
</div>

<div toast_tpl></div>
<loading></loading>