
<div class="track-wp" ng-show="data.isShowPage == 1">
    <div class="track-header">
        <!--<div class="track-portrait">-->
        <!--<img src="" alt="">-->
        <!--</div>-->

        <div class="track-order">
            <div class="track-company">
                物流公司：
                <span class="track-company-text">{{data.companyName}}</span>
            </div>
            <div class="track-number">
                物流单号：
                <span class="track-number-text">{{data.trackNumber}}</span>
            </div>
        </div>

        <!--<div class="track-copy-btn js-copy" data-clipboard-text="{{data.trackNumber}}" ng-click="copy()">复制</div>-->

    </div>
    <div class="track-detail">
        <div class="track-detail-title">订单跟踪</div>
        <ul class="track-body">
            <li class="track-normal" ng-repeat="item in data.trackData">
                <i class="track-normal-icon"></i>
                <span class="track-text">{{item.context}}</span>
                <span class="track-time">{{item.ftime}}</span>
            </li>
            <!--<li class="track-normal">-->
            <!--<i class="track-end-icon track-icon"></i>-->
            <!--<span class="track-text">【天津市】已揽收</span>-->
            <!--<span class="track-time">2017-12-12 19:30</span>-->
            <!--</li>-->

            <!--<li class="track-send">-->
            <!--<i class="track-send-icon track-icon"></i>-->
            <!--<span class="track-text">包裹已出库，来自天津一号仓库</span>-->
            <!--<span class="track-time">2017-12-12 19:30</span>-->
            <!--</li>-->
            <!--<li class="track-normal">-->
            <!--<i class="track-normal-icon"></i>-->
            <!--<span class="track-text">订单打包完成</span>-->
            <!--<span class="track-time">2017-12-12 19:30</span>-->
            <!--</li>-->
            <!--<li class="track-pay-success">-->
            <!--<i class="track-icon track-pay-icon"></i>-->
            <!--<span class="track-text">订单支付成功</span>-->
            <!--<span class="track-time">2017-12-12 19:30</span>-->
            <!--</li>-->
            <!--<li class="track-order-success">-->
            <!--<i class="track-icon track-order-icon"></i>-->
            <!--<span class="track-text">订单提交成功</span>-->
            <!--<span class="track-time">2017-12-12 19:30</span>-->
            <!--</li>-->
        </ul>
    </div>
</div>

<div error_page_tpl></div>
<div toast_tpl></div>








