<div class="wallet-wp">
    <div class="wallet-header">
        <span class="wallet-receive">累计收益</span>
        <span class="wallet-num">¥<span class="wallet-left" ng-bind="data.headerDatas.accumulate || 0"></span></span>
    </div>
    <div class="receive-detail">
        <div class="receive-text">
            <span ng-bind="data.headerDatas.currentAccumulate || 0"></span>
            <div class="wallet-tag">账户余额</div>
        </div>
        <div class="receive-text">
            <span ng-bind="data.headerDatas.freezeLimit || 0"></span>
            <div class="wallet-tag">锁定</div>
        </div>
        <div class="receive-text">
            <span ng-bind="data.headerDatas.lastAccumulate || 0"></span>
            <div class="wallet-tag">昨日收益</div>
        </div>
    </div>

    <div class="empty-wallet" ng-if="data.showEmpty == true">
        <div class="empty-wallet-header">
            账户明细
        </div>
        <div class="empty-wallet-icon"></div>
        <div class="empty-wallet-text">暂无记录</div>
        <div class="empty-wallet-footbar">
            <div class="wallet-cash">今日可提现：&yen;
                <span ng-bind="data.cashWithdrawMoney"></span>
                <span class="wallet-cash-btn" ng-if="data.cashWithdrawMoney == 0">提现</span>
                <span class="wallet-cash-btn wallet-new-color" ng-if="data.cashWithdrawMoney != 0" ng-click="clickCashBtn(data.setCode,data.cashWithdrawMoney,data.trueName)">提现</span>
            </div>
        </div>
    </div>

    <div class="wallet-detail" ng-if="!data.showEmpty">
        <div class="wallet-detail-header">
            账户明细
        </div>
        <div class="wallet-detail-body content">
            <ul>
                <li class="wallet-item" ng-repeat="item in data.listDetails">
                    <div class="wallet-item-detail">
                        <span class="wallet-item-text" ng-if="item.detailType == 1">抢红包</span>
                        <span class="wallet-item-text" ng-if="item.detailType == 2">分配日分红</span>
                        <span class="wallet-item-text" ng-if="item.detailType == 3">推荐日分红</span>
                        <span class="wallet-item-text" ng-if="item.detailType == 4">退款</span>
                        <span class="wallet-item-text" ng-if="item.detailType == 5">购物</span>
                        <span class="wallet-item-text" ng-if="item.detailType == 6">提现</span>
                        <span class="wallet-item-text" ng-if="item.detailType == 11">红包退还</span>
                        <span class="wallet-item-text" ng-if="item.detailType == 21">分红退还</span>
                        <span class="wallet-item-price wallet-item-price-red" ng-if="item.detailType == 1 || item.detailType == 2 || item.detailType == 3 || item.detailType == 4">+{{item.detailMoney}}</span>
                        <span class="wallet-item-price" ng-if="item.detailType == 5 || item.detailType == 6 || item.detailType == 11 || item.detailType == 21">-{{item.detailMoney}}</span>
                    </div>
                    <div class="wallet-item-time" ng-bind="item.opreateTime | date:'yyyy-MM-dd HH:mm'"></div>
                </li>
            </ul>
        </div>
        <div class="wallet-detail-footbar">
            <div class="wallet-cash">今日可提现：&yen;
                <span>{{data.cashWithdrawMoney}}</span>
                <span class="wallet-cash-btn" ng-if="data.cashWithdrawMoney == 0">提现</span>
                <span class="wallet-cash-btn wallet-new-color" ng-if="data.cashWithdrawMoney != 0" ng-click="clickCashBtn(data.setCode,data.cashWithdrawMoney,data.trueName)">提现</span>
            </div>
        </div>
    </div>
</div>